[2015-12-12 13:22] untitaker opened #2 "`decode` doesn't take arbitrary bytes as input"
I have a key that is not valid UTF-8. Currently it's possible to encode, but not decode using such a key.

I've been working on a PR that makes `decode` take `AsRef<[u8]>` (like `encode`), but on the way I've found that this breaks `decode::<Claims>(..)` usage because of additional type parameters. The other options are:

* `decode<T: Part>(token: &str, secret: &AsRef<[u8]>, algorithm: ...) -> Res

[2015-12-12 13:36] Keats commented on #2
If option 1 works on stable/beta/nightly (ie passes travis), I'd be tempted to go that way. If you do a PR could you add tests for non-valid UTF-8 keys as well please?

[2015-12-12 13:40] untitaker commented on #2
Note that according to IRC the first option involves virtual dispatch. Not sure if that's problematic to you.

Before I take a look at it I'll ask a bit around if this is even intended behavior.

[2015-12-12 19:22] untitaker commented on #2
From IRC:

[2015-12-12 19:42] untitaker commented on #2
What about having `secret: &[u8]`? Calling `as_ref` on the caller-side seems easy enough:

    decode(token, "foobar".as_ref(), ...)

[2015-12-13 00:50] Keats commented on #2
If it should not work, is it worth trying to raise an issue in Rust itself?

For the invalid UTF-8 issue, is that a key you are generating yourself? I expect most people to use a valid string (or base64 it if not) so i'd prefer not making it more annoying for 99% of the users.

If you can add failing tests i'll have a look tomorrow as well

[2015-12-13 00:55] untitaker commented on #2
Yes, generated myself, but it doesn't matter. I'd expect arbitrary bytes to work since the RFC doesn't mention any restriction.

[2015-12-16 14:35] untitaker opened #4 "Header::from_base64 doesn't accept/"just discard" extra fields or differently ordered JSON"
This header works:

    {
      "alg": "HS256",
      "typ": "JWT"
    }

This doesn't:

    {
      "typ": "JWT",
      "alg": "HS256"
    }

[2015-12-16 14:37] untitaker commented on #4
Also the latter is used in some `should_panic` tests, which may cause them to panic (as expected), but for a unexpected reason.

[2015-12-16 15:04] Keats commented on #4
Ah yes, encrypted json was hardcoded for the header in a previous PR. Didn't think about the order

[2015-12-16 20:51] #2 closed

[2015-12-16 21:25] Keats commented on #4
Before i do anything, does the title mean you want to have header fields other than `typ` and `alg` like `kid`?
That's not something I need right now but would accept a PR.

If it's only the order, i'll do that tonight/tomorrow

[2015-12-17 13:05] untitaker commented on #4
It's just something I noticed while generating testcases for #3 using http://jwt.io. Not something I actually need. Since in my case I am the only one who generates and parses tokens, I can easily keep the fields in a certain order.

[2015-12-17 13:17] Keats commented on #4
The order is definitely a bug, i'll fix it today.

[2015-12-17 13:22] untitaker commented on #4
For full RFC compliance more headers would have to be accounted for.

On Thu, Dec 17, 2015 at 05:17:46AM -0800, Vincent Prouillet wrote:

[2015-12-17 13:29] Keats commented on #4
Yeah I know, just not a priority for me as I only use jwt generated by me.
I guess we will add it when someones needs to handle jwt containing other fields like the ones from google cloud.

[2015-12-17 14:08] untitaker commented on #4
I've created #5 to fix that bug. While it currently doesn't allow inspection of any of those weird header values, I think dropping them is a reasonable way to deal with them for now.

[2015-12-22 17:07] #4 closed

[2016-02-19 22:25] untitaker opened #7 "rust-crypto is abandoned, time to look for alternatives?"
I've just been informed in the Rust IRC channel that rust-crypto is abandoned and should not be used anymore. As example of critical fixes that are not merged, I was given https://github.com/DaGenix/rust-crypto/pull/349

Libraries that probably have the primitives rust-jwt needs:

* https://github.com/dnaq/sodiumoxide
* https://github.com/briansmith/ring
* https://github.com/sfackler/rust-openssl

[2016-02-20 22:05] Keats commented on #7
Thanks for the heads up, opened a thread on reddit for some feedback

[2016-02-21 04:44] frewsxcv commented on #7
Relevant thread: https://www.reddit.com/r/rust/comments/46s75m/rustcrypto_apparently_abandonned_alternatives/

[2016-02-22 07:55] DaGenix commented on #7
Rust-Crypto isn't abandoned, but it has been badly ignored and for that I apologize. I just merged a fix for the issue you referenced above and will try to get a release done with that fix sometime this week.

That being said, Rust-Crypto is still very experimental and has not had anything resembling the amount of security review of something like OpenSSL or sodiumoxide. If security is important t

[2016-02-22 10:54] Keats commented on #7
@DaGenix great to hear!
I also use rust-crypto for https://github.com/Keats/rust-bcrypt so i'll see if i can help on some aspect when I have time

[2016-03-03 08:20] dariusc93 commented on #7
I feel that botan should be ported to rust since some people do want to avoid using openssl

[2016-03-16 16:48] emosenkis opened #9 "Split out JWS implementation"
I'm thinking of trying to implement the ACME protocol (e.g. LetsEncrypt), which requires JWS. Would you consider splitting that part of the functionality into a separate library or at least making the appropriate parts public?

[2016-03-23 10:50] Keats commented on #9
I don't want to split the package, can you do a PR making what you need public?

[2016-04-11 11:09] Keats commented on #9
@emosenkis ping

[2016-04-11 11:10] Keats commented on #7
Pushed 1.1.2 that contains rust-crypto 0.2.35

[2016-04-11 18:22] emosenkis commented on #9
This is for a side project, so I may not get to it for a long time. If and when I get to it, I'll send you a pull request. Feel free to close this issue if you prefer.

[2016-04-25 10:12] #9 closed

[2016-06-16 21:38] cmsd2 opened #13 "forked. Have features, want to contribute."
https://github.com/cmsd2/rust-jwt

As discussed briefly out-of-band, I've been working on some features.

Off the top of my head, rsa, arbitrary Json payloads like the other jwt libs, claims parsing, serde, jwk keys and sets.

Can we pool efforts?

[2016-06-17 09:53] Keats commented on #13
Thanks, a bit busy this week so i'll have a close look next week.

It does seem very different from a first look though!

[2016-06-20 14:25] Keats commented on #13
- serde: good but it's a pain it's still not usable as simply on stable than on nightly :(, I see lots of custom implementation of the trait so I might stay on rustc-serialize for a bit unless there is a good reason to swap
- rsa: cool
- validation (of exp for example): nice, thought of doing that but wasn't sure whether it should be built-in or not
- jwk: i think that should not be in jwt, could

[2016-06-28 21:42] Keats commented on #13
I'm a bit busy with work and tera but i plan to get started with that when I have a bit more time.

Any thoughts on my comment above?

[2016-06-29 14:40] cmsd2 commented on #13
Serde seems quite a bit faster using your built-in benchmark.
You're right though, it was really quite hard work putting it in place -- I did it to get total control over the layout of the serialised json from a bunch of different datatypes.

Rsa: I think we're just getting started. I need to come up with a working example of code downloading and verifying a public cert to check the validity of a

[2016-06-29 20:20] Keats commented on #13
Serde is faster (and better all around) but it's annoying to use if you are using stable. I keep seeing that the rust team is thinking of some integration for Serde but haven't seen anything new on that end so I might delay it a bit (despite using Serde in all of my other projects).

The goal of his lib is only jwt (equivalent of https://github.com/jpadilla/pyjwt and https://github.com/dgrijalva/j

[2016-08-01 16:06] Keats commented on #13
with the macros 1.1 using serde on stable seems realistic! probably going to wait for that and move all the crates from rustc-serialize to serde when that happens

[2016-08-02 16:01] cmsd2 commented on #13
ah. macros 1.1 PR (i hadn't been following this). exciting stuff.
https://github.com/rust-lang/rfcs/pull/1681

[2016-08-18 17:48] Keats opened #15 "Move to ring"
PR welcome, otherwise I'll do it when I have time

[2016-08-23 16:47] Keats commented on #7
I just moved to ring in 1.1.4, closing this

[2016-08-23 16:47] #7 closed

[2016-08-23 16:47] #15 closed

[2016-08-23 20:30] Keats commented on #13
I moved to ring for crypto, so would be nice to have ecdsa added as well later on.
The macros 1.1 rfc got accepted so using serde on stable should happen sooner than expected!

[2016-08-24 11:47] shssoichiro opened #17 "Upgrade ring to 0.3.0"
`ring` has been upgraded to 0.3.0 and has yanked all previous versions, causing `jsonwebtoken` to fail to resolve dependencies:

[code]

[2016-08-24 11:49] shssoichiro commented on #17
I can create a PR for this shortly.

[2016-08-24 11:49] Keats commented on #17
It's ok, i'm pushing a new version as we speak :)

[2016-08-24 11:51] Keats commented on #17
Pushed as 1.1.5, thanks for the report!

[2016-08-24 11:51] #17 closed

[2016-08-24 13:32] nathansizemore opened #18 "Switch bak to rust-crypto"
No longer can compile

[code]

[2016-08-24 13:43] nathansizemore commented on #18
[Associated ring issue](https://github.com/briansmith/ring/issues/281)

[2016-08-24 14:59] Keats commented on #18
aw sorry about that, i'll add a feature to use rust-crypto instead of ring

[2016-08-24 15:04] nathansizemore commented on #18
No biggie, I've got it pegged at the needed version in the meantime. I'd imagine once they get their build chain in a more complete state, things will be fine.

[2016-08-24 21:19] cmsd2 commented on #13
i've updated my stuff to latest versions of rustc, serde and openssl.
ring might be a good long term move. looks like it might do rs256 signatures already.
x509 would be nice though.
i'll take a look.

[2016-08-24 22:35] Keats commented on #13
In terms of API I thought of having modules for each "algorithm".
So you would have `jsonwebtoken::hmac::{sign, verify}`, `jsonwebtoken::ecdsa::{sign, verify}` if we can't manage to keep a simple common API for all of them, which seems likely to happen

[2016-08-28 23:55] briansmith commented on #13
Most likely, RSA support would require https://github.com/briansmith/ring/pull/226 which will probably land RSN.

[2016-09-01 16:15] Keats commented on #18
Did you manage to cross-compile in the nd?

[2016-09-01 18:30] nathansizemore commented on #18
Whoops, I forgot about this issue, sorry. Yeah, so it wasn't a fault of this, it was just a fault of me not having the proper toolchain setup. I've figured out that it is more or less not worth the effort to cross compile to Linux from macOS, and just bit the bullet and started to use a VM.

[2016-09-01 18:30] #18 closed

[2016-09-11 10:46] djc commented on #13
*ring*-0.4.1 was just released, which includes the RSA support you need for this.

[2016-09-11 11:24] Keats commented on #13
Thanks for letting us know!

[2016-10-11 14:33] Keats opened #19 "Move to Serde"
Not immediately though, wait till it is easily usable on stable (see macros 1.1 stabilisation)

[2016-10-11 14:34] Keats opened #20 "Add RS* family"
RS256, RS384 and RS512

[2016-10-11 14:34] Keats opened #21 "Add ES* family"
ES256, ES384 and ES512

[2016-10-11 14:41] Keats opened #22 "Add some verifications of fields"
`exp` and `nbf` could be added (see https://tools.ietf.org/html/rfc7519#section-4.1.1 for details on those fields).

The tricky thing without default args is how to handle the leeway. It seems the `decode` fn will need a struct of all the possible options, which means we could add verification for more fields that way

[2017-01-25 16:47] pimeys commented on #21
Hey,

Have you been investigating this? We need it for Apple push notifications and are looking into ways of implementing them in Rust. We could fork and use some C bindings to get the job done, but I guess the changes would never get into the mainline here.

There are options to do the signing with:

* https://github.com/apoelstra/rust-secp256k1/ A C binding for libsecp256k1 from the bitcoin proj

[2017-01-26 08:21] Keats commented on #21
I didn't look into it yet but from a very quick research, it seems that Ring does support verifying ECDS https://briansmith.org/rustdoc/ring/?search=ECDSA but not signing.
https://github.com/briansmith/ring/issues/207 seems to be tracking it

I'm not a crypto expert either so I definitely don't want to build it myself

[2017-01-26 09:13] pimeys commented on #21
I asked about ECDSA in #rust-crypto yesterday and they gave me this: https://gitlab.com/ilari_l/btls/tree/master I'll investigate how and where should I use it and at least fork your project for basis. I don't know do you want to have this include in the HEAD, but we're in serious need for this with Apple notifications.

[2017-01-30 20:16] cmsd2 commented on #13
ring's still on my todo list :)
managed to get serde 0.9 to work at least.

[2017-01-31 00:38] Keats commented on #13
@cmsd2 I've started work on that in https://github.com/Keats/rust-jwt/pull/23 but missing some features in the base64 crate right now
RSA and some JWT verification are next once it's in

[2017-02-02 20:42] cmsd2 commented on #13
serde works on stable now :)

[2017-02-02 21:21] cmsd2 commented on #13
hrm. ring seems a bit limited when it comes to juggling keys @briansmith
i have the key's modulus and exponent etc in a jwk file and there's no way to create an rsa key pair from anything but a der file, and no way to create a der file.

[2017-02-02 21:49] briansmith commented on #13
For the specific case of verifying an RSA signature using the public key and modulus, see https://briansmith.org/rustdoc/ring/signature/primitive/fn.verify_rsa.html.

See https://github.com/briansmith/ring/issues/445 where we'll discuss the issue more generally.

[2017-02-05 08:45] stephank commented on #13
@cmsd2 https://github.com/briansmith/ring/pull/441 should allow both dumping and loading RSA public keys. I've ported the bare-bones JWT implementation in Portier from openssl to that ring branch here: https://github.com/portier/portier-broker/pull/130. Curious to hear if this'll also solve your issue!

To get rid of the JWT code in Portier and move to this crate sounds nice, though there's a bunc

[2017-02-05 13:46] Keats commented on #13
My attempt to move this crate to serde is also blocked for now by the base64 crate.

@stephank What exactly do you need from a JWT crate? My goal is to have something like https://github.com/jpadilla/pyjwt but typed. I'm not using RSA or ECDSA (@pimeys asked for that) myself but I'd like to add them so knowing what people need/want is helpful.

[2017-02-05 13:49] pimeys commented on #13
Btw, a working ECDSA JWT implementation can be found here. https://gitlab.com/ilari_l/btls

Got it working with APNs and it wraps gnutls giving a quite nice interface.

[2017-02-05 14:09] stephank commented on #13
@Keats Portier is pretty much OpenID Connect, both identity provider and relying party.

As an identity provider, it parses one or more private keys from PEM for signing, and exposes the public parts as JWKs in a `/keys.json` route. (We only use the first key to sign, but configuring multiple keys is useful for rotation.)

As a relying party, the upstream identity providers has a similar route to

[2017-02-05 18:42] cmsd2 commented on #13
that's something my fork might be able to do already: the decode method accepts a Verifier trait (which is in turn implemented for Signer traits).
if there's enough info in the header to make a local decision, you could multiplex several signers, selecting which to use based on the contents of the header,
then that delegate would lookup the private key from a list of keys you prepared earlier.

[2017-02-05 18:45] cmsd2 commented on #13
incidentally i was messing about with oidc when i figured i needed more complete jwt support. i got part way towards making an identity provider using iron but it was an uphill battle.

[2017-02-12 03:52] shssoichiro opened #24 "Release new version"
Version 1.1.5 no longer works because the ring 0.3.1 dependency fails to compile. The latest master with ring 0.6 compiles successfully. Tested on latest nightly.

[2017-02-13 05:23] Keats commented on #24
Released master as 1.1.6!

[2017-02-13 05:23] #24 closed

[2017-02-13 11:55] Keats commented on #22
It seems that it will be easier for users to write their own validation if they need to, maybe `jsonwebtoken` could provide some macro/error types/helpers.

[code]
A `validate_claims!` macro could be written to automate all the boilerplate above and turn into:
[code]
but I'm not sure it's worth it

See https://pyjwt.readthedocs.io/en/latest/usage.html#registered-claim-names for some indication on

[2017-02-22 03:37] Keats commented on #13
@stephank Would having 2 `decode` functions work? Since we don't have kwargs/default args it seems that the simplest way to do it would be to just have `decode` and `decode_without_verification` which both return the following struct:
[code]
From there you can grab any field you want from the header, the downside being it's not the best performance as you deserialize the claims as well

[2017-02-22 04:49] Keats commented on #22
A good alternative I think:

Implement a `validate` method on `TokenData` that takes a `ValidationOptions` struct as arg and return a Result

[2017-02-22 08:29] cmsd2 commented on #13
Of course, another way to get noop verification might be to use the decode method that accepts a trait, and pass in a noop function.

[2017-02-22 09:19] Keats commented on #13
I don't really want to add more params to the `decode` method though, the goal being to have the simplest API for 90% of the users.

I'm almost done adding RSA signing/verifying (DER format only for now, planning to add PEM as well) on #23 except that verifying doesn't currently work and I have no clear idea why, probably a silly mistake: https://github.com/Keats/rust-jwt/pull/23/files#diff-92706f

[2017-02-22 10:24] chpio commented on #13
why not add 2 functions. the first one with a simple interface and default decoding, the second one which would take a custom decoder? (assuming noop decoding/verifying isn't the usual use case)

[2017-02-22 10:41] stephank commented on #13
@Keats What @cmsd2 is suggesting would work like `ToSocketAddrs`: https://doc.rust-lang.org/std/net/trait.ToSocketAddrs.html

So:

[code]

And then you'd have the identity implementation:

[code]

Which would allow:

[code]

And then you could add an implementation for `FnOnce`, or even something else if that makes sense.

Making the secret a parameter of the algorithm enum would allow different k

[2017-02-23 03:10] Keats commented on #13
I kinda like the Algorithm enum containing the key (granted it would need to be `[u8]` for most cases I think, unless the user wants to use ring to build the `RSAPrivateKey` themselves but that is more involved than just using `include_bytes!` The trait approach seems nice too, thanks for the detailed explanation.

Not sure about the `NoVerify` in the `Algorithm` enum though, there is already a `n

[2017-03-07 19:33] mike-engel opened #25 "How can I best contribute?"
Hey there! First off, thanks for making what's shaping up to be a great crate!

I'm new to Rust, and getting my toes wet by building a [jwt cli tool](https://github.com/mike-engel/jwt-cli). I'd love to contribute back to this project, but I'm not sure where I would be most helpful. Docs? Some easy feature? I'm not sure what you have in progress already so let me know if I can help.

[2017-03-08 02:20] Keats commented on #22
Regarding the above:
I forgot the validations are on the claims, not the header so not sure it would work >_>

[2017-03-08 02:28] Keats commented on #25
Thanks for the kind words!

Regarding stuff in progress: https://github.com/Keats/rust-jwt/pull/23 is an ongoing re-write, currently waiting for a Ring PR + new release to finish RSA support.

I need some help coming up with ideas on how to handle validation (https://github.com/Keats/rust-jwt/issues/22) and there some interesting API ideas on https://github.com/Keats/rust-jwt/issues/13

I think th

[2017-03-18 18:48] mike-engel commented on #25
Sweet, thanks! I'll take a look at those issues and subscribe to the v2 pr.

[2017-03-18 18:48] #25 closed

[2017-03-18 19:00] mike-engel commented on #13
Not sure if this helps, but the [node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken) project has two separate APIs: [verify](https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callback) and [decode](https://github.com/auth0/node-jsonwebtoken#jwtdecodetoken--options). The naming there is pretty straightforward, and in that case, both return the payload.

[2017-03-18 19:11] mike-engel commented on #22
Looking at jwt.io, it looks like there are seven checks that JWT libraries _should_ provide. `iat`, `nbf`, and `exp` are all pretty easy because they're completely time based and don't need any input from the user.

It seems best to me to check for those time based fields in the claims object and check it for the user behind the scenes, since it would be pretty trivial. It's a little more work, bu

[2017-04-11 03:45] Keats commented on #13
Hmm I quite like the `verify` vs `decode`

[2017-04-11 03:53] mike-engel commented on #13
Yeah, that makes sense. `verify_and_decode` while explicit, is much too long. I do wonder if `verify` Is ok though, especially since it would probably return a Result type and the compiler would be enforcing that? I can't think of a better name at the moment that's descriptive yet concise

[2017-04-11 04:43] Keats commented on #22
They do need some user input if we want to add some leeway to the times and use something other than UTC.
I just tried making a `ValidationOptions` struct but some things don't really work in Rust, e.g. `aud` can be a `String | String[]` which would be a pain to represent.

I also don't think it would be possible to access the claims fields generically but I could be wrong.

I think the easiest wa

[2017-04-11 05:48] Keats commented on #22
Implementation POC: https://github.com/Keats/rust-jwt/pull/23/commits/bd1fc780b3efaccae4cc6992989b8e1a8669efae

[2017-04-11 05:48] Keats commented on #20
It's in v2, need to add documentation

[2017-04-11 05:48] Keats commented on #19
It's in v2

[2017-04-11 06:01] mike-engel commented on #22
Just looked at your POC, and it looks good. It still feels a little weird to me that we need to place the effort of claim validation on the user rather that in the library directly. There's another option I can see with it's own drawbacks:

Add an optional argument to `verify`, which is an internal (public) struct (`VerificationOptions` or something) for config. If not provided, a leeway of `0` wo

[2017-04-11 06:06] Keats commented on #22
You won't be able to access the claims fields in `verify` though, unless you go the route of `Claims<T>` I detailed in the last post.
If you try to access `token_data.claims.iss` inside `verify` for example, it will error saying `iss` is not a member of `T` (`claims` is generic).

[2017-04-11 06:13] Keats commented on #22
We *could* deserialize the claims in a hashmap as well as the struct and to the validation using the hashmap. That would make performance worse though.

[2017-04-11 07:33] Keats commented on #22
POC for the JSON map approach: https://github.com/Keats/rust-jwt/commit/c12f1dd87530a3e20b0d63efddd25e79a6741d8f

Benchmark results show no differences apparently on the current benches.

[2017-04-11 13:59] mike-engel commented on #22
Ah, I see now! Sorry about that, the project I'm working on based on this library decodes as a hash map since it doesn't know the claims beforehand, so that's what I was thinking of 😅

I like the JSON POC! Looks awesome. Hopefully you don't feel like I'm trying to push you in a specific direction—I'm just trying to feel out what the best ux would be. The JSON approach looks pretty good (to me) tho

[2017-04-11 14:28] Keats commented on #22
That's my goal as well!
I think the JSON approach is the best too and will probably go with that. Once it's in, I'll probably try to see if there is a way to somehow reduce the number of args, maybe by trying something like https://github.com/Keats/rust-jwt/issues/13#issuecomment-281632879

[2017-04-12 09:09] Keats commented on #22
All validations (except `jti` since it's not really possible to validate that: the libraries are just checking it's a string, that will taken care of by serializing to the Claims struct) are in the v2 PR.

Next up is writing docs but I think this issue will be closed soon. If you can try the v2 branch with your project to see if there are issues in terms of UX/features, that would be super helpful

[2017-04-12 21:35] mike-engel commented on #22
Awesome, thanks @Keats! I'll start working on migrating to version 2. It'll take a little time, however, since I need to swap out rustc_serialize for serde. Thanks for all the great work 😄

[2017-04-13 07:44] Keats commented on #13
The v2 is getting close to done: https://github.com/Keats/rust-jwt/pull/23

It moves to Serde, adds validation, RSA signing/verification and allows you to just decrypt a token without verifying the signature (which should work for you @stephank):

[code]
Any feedback welcome!

[2017-04-20 03:38] Keats commented on #13
Now available on crates.io as well: https://crates.io/crates/jsonwebtoken/2.0.0-beta-1

[2017-04-21 08:07] Keats opened #27 "Update to serde 1.0"
That requires changing the `serialization` file as well for lifetimes

[2017-04-21 08:10] Keats commented on #27
@mike-engel if you have time and want to do it, you can pick this one up!

[2017-04-21 14:53] mike-engel commented on #27
@Keats I'll take a stab at it today/this weekend 😄

[2017-04-22 06:01] #27 closed

[2017-04-23 04:59] #19 closed

[2017-04-23 04:59] #20 closed

[2017-04-23 04:59] #22 closed

[2017-04-23 05:24] Keats commented on #25
v2 is on crates.io, thanks a lot for your help!

[2017-04-23 15:52] mike-engel commented on #25
Happy to help! Thanks for making it in the first place!

[2017-07-15 17:52] naerbnic opened #36 "Access token header without obtaining payload?"
In order to provide an accurate key for some applications (e.g. OpenID Connect for Google), we need to be able to access the kid (Key ID) field of the header. I could also imagine other fields in the header would be necessary to find the validation context.

The current API allows by decoding a JWT with no signature verification, however I feel that it would be less error-prone if there were a sep

[2017-07-15 17:55] naerbnic opened #37 "Make TokenData struct public"
Currently the TokenData struct does not appear to be made public, and thus does not appear in the documentation. To my understanding, this will eventually cause an error during building as well. A top-level `pub use` should handle this, as you do with `Header`.

[2017-07-16 01:53] Keats commented on #37
It was made public in https://github.com/Keats/jsonwebtoken/commit/5758c0008cc9e42f4152b9f121f67d5450c1eaa6 but I didn't publish a new version yet, probably tomorrow or tuesday

[2017-07-19 07:28] Keats commented on #37
It's in the latest version on crates.io

[2017-07-19 07:28] #37 closed

[2017-07-19 07:29] Keats commented on #36
That's a good point, it would require a major version change though to remove the option to do no-sig decoding.
I'll take a PR for that or do it when I have time

[2017-07-25 21:21] mhseiden opened #38 "Don't fail if `typ` is not present in the token."
Although the standard requires it, not all jwt providers are standards compliant. It would be nice if this lib was more tolerant of the missing field.

[2017-07-28 00:07] Keats commented on #38
Hmm I don't think I would want that in the library. Is there a known provider that gives invalid JWT?

[2017-08-20 22:27] bhendo commented on #38
@Keats Google does not seem to provide `typ`

[2017-08-21 02:17] Keats commented on #38
Hum I see, I guess it should be an `Option` then for the next major version

[2017-08-28 14:04] aldrio opened #40 "Leeway is seconds, not milliseconds"
Documentation says to provide validation leeway in milliseconds but it seems to actually work as seconds.

[2017-08-30 08:50] Keats commented on #40
Ah damn, I'll fix it to be seconds everywhere. Thanks for the report!

[2017-09-08 07:26] Keats commented on #40
Fixed now

[2017-09-08 07:26] #40 closed

[2017-09-08 07:26] Keats commented on #38
Fixed in 3.0

[2017-09-08 07:26] #38 closed

[2017-09-08 07:26] Keats commented on #36
Fixed in 3.0

[2017-09-08 07:26] #36 closed

[2017-10-18 01:15] idubrov opened #41 "Unsafe default behavior"
If algorithm is not explicitly enforced via Validation, library will happily accept "forged" token where RS256 algorithm is replaced with HS256 and token is signed with RSA public key used as a secret.

Not sure what could be done here as this isn't the library issue per se, but rather unsafe usage of it. Maybe warning in the documentation?

Alternatively, library could accept the only one algorit

[2017-10-18 01:40] idubrov commented on #41
Or, even better, instead of accepting key as a slice, it should accept closure which would return key based on provided algorithm type and "kid" (optional).

This would also avoid parsing header twice (since you already parsed it at the point you invoke "verify").

[2017-10-18 07:42] Keats commented on #41
Eh that's weird, I don't remember why Validation::algorithms is an `Option`, it shouldn't be.

[2017-10-22 11:30] Keats commented on #41
#42 removes the `Option` for algorithms so the end user will need to explicitely say which alg are allowed for starter

[2017-11-25 14:07] hugues31 opened #44 "Is jsonwebtoken able to validate Firebase Auth token ?"
Hello,
I try to figure out how to validate a jwt issued by Firebase Auth service.
I try with this code with no chance :
[code]

And Claim struct:
[code]

The header is correctly parsed but the claim cannot be verified (InvalidSignature). Since I'm new to this, maybe I did something wrong, can someone help me please ?

[2017-11-25 14:25] Keats commented on #44
The private key needs to be in DER format, there are some notes on how to convert PEM -> DER there: https://github.com/Keats/jsonwebtoken/blob/master/tests/notes.md

[2017-11-25 14:29] hugues31 commented on #44
Thanks for your answer :) I read that part and convert my key but I end up with:
private_rsa_key.der
`0�� � �<�Z�O��
pȷ=S2�ŅY�]#\��"Q��ݘ0�I�@�?��[��G:�|�򮗩)slZ3�e74�$2��B��b��]���=�W$F)?�v��3^�R|�R�P�{�t�j�Y튠���~���X�L��
 ש�>y���Ō
�D��-�1�_լ�?��#$
����<.�ǵ��,1�@�I�,�D��g��4ĩ�&WGx�mh�7�n���N@��u���^���+�d�a��ڿ�X�R��
�# ��c�d(JƲ��xbIߑ���!AG��ҽ����=��.�����

[2017-11-25 14:41] Keats commented on #44
(Hopefully it's not a private key in use you've posted, otherwise you need to change it).

DER format is binary, here's an example on how to encode/decode tokens using RSA: https://github.com/Keats/jsonwebtoken/blob/master/tests/rsa.rs#L15-L19

[2017-11-26 09:36] hugues31 commented on #44
No I cropped the key haha. Thanks for your help, I'll try with that

[2017-11-28 08:58] #44 closed

[2018-02-24 19:15] mike-engel opened #48 "Add a way to get the header + payload without verifying the signature"
Hey! I've gotten a new issue on my cli tool (https://github.com/mike-engel/jwt-cli/issues/4) which was fixed in 3.0 with `typ` being optional. 3.0 did, however, break one use case of my tool which is to just see the contents of a JWT without verifying the signature (debugging, etc). I used to use the `validate_signature` option in `Validation`, which was removed in 3.0.

Would you be open to havin

[2018-03-02 17:33] Keats commented on #48
The reason for removing it was to not have an insecure option as part of the main function. I think it would be fine to add something like `dangerous_unsafe_decode` to be added as an additional method, without touching the main `decode`.

[2018-03-19 11:35] Keats commented on #48
It's in 4.0.1

[2018-03-19 11:35] #48 closed

[2018-03-20 22:41] 1wilkens opened #50 "Claim validation assumes all date fields are serialized as `i64`"
[`validation::validate`](https://github.com/Keats/jsonwebtoken/blob/9056a2912f68a9c1af4d5493606cb01190856dfa/src/validation.rs#L112) assumes all relevant date fields are serialized as `i64` as they are passed to `serde_json::from_value::<i64>`.
Per default this is not the case for e.g. `chrono::DateTime` which seems to be the de-facto standard type to represent timestamps.
It took me several hours

[2018-03-21 06:47] Keats commented on #50
The spec (https://tools.ietf.org/html/rfc7519#section-4.1.4) says those fields:

and

      A JSON numeric value representing the number of seconds from
      1970-01-01T00:00:00Z UTC until the specified UTC date/time,
      ignoring leap seconds.  This is equivalent to the IEEE Std 1003.1,
      2013 Edition [POSIX.1] definition "Seconds Since the Epoch", in
      which each day is accounted for

[2018-03-21 07:58] 1wilkens commented on #50
I knew I should have looked up the spec first ;)
Okay I think I'll write an example that uses `serde`'s `serialize_with` attribute to demonstrate usage of these date fields then.
Thanks for the quick reply!

[2018-03-21 07:58] #50 closed

[2018-04-03 10:37] Keats commented on #41
I believe it's fixed now as the algorithm validation is now mandatory

[2018-04-03 10:37] #41 closed

[2018-05-31 20:12] briansmith commented on #21
ECDSA signing with P-256 and P-384 is in ring 0.13.0-alpha4. See the comments in https://github.com/briansmith/ring/issues/207 for details. Please try it out and let me know if you run into any issues before I release the 0.13.0 final version.

[2018-06-01 11:16] Keats commented on #21
Thanks for the notice!
I'll update the crate once the version is released with https://github.com/briansmith/ring/pull/619 so upgrading ring is not a breaking change

[2018-06-13 16:45] fundon opened #51 "Conflict in validation::validate"
`main.rs`
[code]

output

[code]

From  https://github.com/Keats/jsonwebtoken/blob/master/src/validation.rs#L121-L147

[code]

Should check ` options.validate_exp` then echeck `claims.get("exp")`, the others are probably the same.

[2018-06-26 07:53] tirkarthi opened #52 "Bump untrusted version for security"
Hi,

This project seems to use `untrusted = 0.5` as I can see from the cargo.toml file on master branch. Recently a security issue was fixed as part of 0.6.2 release. Please refer to https://github.com/RustSec/advisory-db/commit/3c0458d26bd19e30dc19ae5ca9a4540cc9c0394b .

Kindly ignore if this is irrelevant or fixed on another branch.

Thanks.

[2018-06-28 10:10] Keats commented on #52
Bumping it requires updating `ring` to an alpha version afaik though :/
Since only one version of ring is currently allowed in a project, it would be a breaking change to a version that lots of users might not be able to upgrade to and will need another breaking change to get rid of the alpha later.

@briansmith would you recommend updating to the alpha version of ring now or is the 0.13 release s

[2018-07-02 12:24] acheronfail opened #53 "Expose claims `Map<_, _>` when decoding"
I'm making a library that extends jwt and adds some extra validation to the claims, and have run into a problem. Since I'd like the user of my library to define their `Claims` struct, I don't want to provide the type, but I'd like to perform some validation on it nonetheless.

[code]

I'd like a way to receive the `Map<String, Value>` [found here](https://github.com/Keats/jsonwebtoken/blob/master/

[2018-07-03 11:17] sinclairzx81 opened #55 "RS256 RSA decode problem"
Hi,

I am looking for some advice with regards to decode and verification of tokens signed with RS256. We seem to be receiving `invalid signature` errors when passing in the suggested `der` public key format.

For some back story, We currently have remote systems generating and signing these tokens, the JWT token we need to verify is signed remotely by a nodejs process leveraging this library (htt

[2018-07-03 11:22] Keats commented on #53
i'm not sure it makes sense to return it as most people don't care about it. How about adding a field to the `Config` that is a hook fn that can be called during decoding and that will receive that map as argument so you can add your own custom validation in it?

[2018-07-03 11:30] sinclairzx81 commented on #55
Just realised the issue was related to generating the `der` directly from the `public.pem`. Following along with the information at the bottom of your readme solved the problem...

#### public / private pem generation (node system)
[code]

#### convert public.pem to public.der (for use in rust)
[code]

Cheers

[2018-07-03 11:30] #55 closed

[2018-07-03 20:02] acheronfail commented on #53
By the `Config` do you mean adding a field to the `Validation` struct?

Something like this?

[code]

[2018-07-05 00:20] acheronfail commented on #53
@Keats Actually, I think I have found a way to make it work similar to what you suggested. I'll update the PR and then you can see what you think!

[2018-07-06 03:30] acheronfail commented on #53
For the moment, my current workaround is to serialise and deserialise the decoded claims struct. Thanks to the performance of `serde` the impact is negligible.

[code]

[2018-07-06 03:30] #53 closed

[2018-07-06 03:30] acheronfail commented on #53
For the moment, my current workaround is to serialise and deserialise the decoded claims struct. Thanks to the performance of `serde` the impact is negligible.

[code]

[2018-07-06 12:02] terry90 opened #56 "Incompatible with Rocket atm"
[code]

see https://github.com/briansmith/ring/issues/575

I know this is not the responsibility of jsonwebtoken, but this should be left open until resolved since rocket is a well known framework.

`v2.0.3` is compatible

[2018-07-13 10:12] ufoscout opened #57 "Move from error-chain to failure"
As error-chain is currently deprecated ( https://github.com/rust-lang-nursery/failure/issues/181 ), I would propose to move to failure which is lots of traction in the rust community.

[2018-07-13 10:20] Keats commented on #57
Failure is not currently actively maintained so it's more likely this crate
will switch back to using plain Error for the next major version when a new
ring version is released.

On 13 Jul 2018 12:12, "Francesco" <notifications@github.com> wrote:

As error-chain is currently deprecated ( rust-lang-nursery/failure#181
<https://github.com/rust-lang-nursery/failure/issues/181> ), I would
propose to m

[2018-07-13 10:38] ufoscout commented on #57
@Keats

oh, sorry, for what I read I thought 'failure' was going to be the default way of handling errors in rust.
I am still a newbie in rust and I am having troubles with this simple piece of code:
[code]
I use failure and I am not able to integrate the result of the jsonwebtoken::encode call with the rest of my code, the compilation fails with:
[code]
but I don't want to return errors that do n

[2018-07-15 08:45] Keats commented on #57
can you do something like `.map_err(|err| err.into())` to convert errors from one to the other?

[2018-07-25 13:49] Keats commented on #51
Sorry, completely missed that issue. It should be fixed in the PR above and in the next release

[2018-07-25 14:10] Keats opened #60 "Add tests from the spec"
https://tools.ietf.org/html/rfc7520

[2018-08-09 15:57] Keats commented on #21
I don't have the bandwidth to work on that but I would welcome a PR

[2018-08-13 14:02] #52 closed

[2018-08-13 14:02] #51 closed

[2018-08-13 14:10] Keats commented on #56
Published v5 which uses ring 0.13, should be fine now

[2018-08-13 14:10] #56 closed

[2018-08-13 14:11] Keats commented on #57
Remove error chain in favour of plain Error

[2018-08-13 14:11] #57 closed

[2018-08-13 15:26] Keats commented on #56
You will need to update your `cookie` crate version to 0.11

[2018-08-13 15:31] terry90 commented on #56
The `cookie` crate is from `rocket`, not from my `Cargo.toml`

[2018-08-13 15:36] Keats commented on #56
Ah then you will need to wait for a new release of rocket that contains the
updated version of cookie. The git repo (
https://github.com/SergioBenitez/Rocket/blob/master/core/http/Cargo.toml)
already points to a cookie that will work with jsonwebtoken v5 so it is
just a matter of time.

On Mon, Aug 13, 2018 at 5:31 PM Terry Raimondo <notifications@github.com>
wrote:

[2018-08-13 16:00] terry90 commented on #56
Great :)

[2018-08-31 09:51] manifest commented on #21
I'm willing to work on this issue, but there are currently some obstacles in **ring** API. I've described them in the related [issue](https://github.com/briansmith/ring/issues/207).

[2018-09-02 03:08] aep opened #62 "DER from x509 (auth0)"
trying to use this with auth0, where its only possible to get the x509 certificate that is used for signing

[code]

doesnt seem to work. i'm getting ' Error(InvalidSignature)'.
the same token validates fine on jwt.io with that certificate.

[2018-09-02 03:27] aep commented on #62
this seems to work, but i'm not sure if this is safe because it strips the rest of the certificate:

[code]

[2018-09-03 06:25] manifest commented on #21
@Keats Do you mind changing type of key from `&[u8]` to `enum` ?

[code]

It will allow us to use ring's **ECDSAKeyPair** in `sign` function and thus add support of **ES**-* algorithms family today. It also looks rationale becase we may use any external library's key format this way.

[2018-09-04 15:39] Keats commented on #21
That would expose `ring` to end users which isn't really nice. I would rather wait for supports for signing from bytes to be implemented in `ring`

[2018-09-04 16:33] manifest commented on #21
Unfortunately there is no activity on that matter :-(

[2018-10-14 15:58] pythoneer opened #63 "PEM -> DER public key conversion"
Hi, i tried to use this library to secure a micro service but i was unable to verify the signature based on the public key from our auth service. I was converting the public key from the PEM into the DER format but without success. I have read the notice in the README and found a [related issue](https://github.com/Keats/jsonwebtoken/issues/55) but all this suggested is that i have to create the DE

[2018-10-14 16:17] Keats commented on #63
Not at the computer but you can decide a token using the public key in der
format, check tests/rsa.rs

On Sun, 14 Oct 2018, 17:58 Dustin Bensing, <notifications@github.com> wrote:

[2018-10-14 16:29] Keats commented on #63
A pem file is a der file that has been base64'd so you don't need access to
the private key. I'll have a look tomorrow.

On Sun, 14 Oct 2018, 18:23 Dustin Bensing, <notifications@github.com> wrote:

[2018-10-14 16:36] pythoneer commented on #63
Sure, i am just wondering why the conversion with `openssl` is "wrong"? My problem is basically the same as in this [related issue](https://github.com/Keats/jsonwebtoken/issues/55) i think the `openssl` command is just wrong?
[code]

The reason why i am assuming that i need the `private key` is because of this part in the README

[code]

and the section in the related issue

[code]

both use the t

[2018-10-15 17:12] pythoneer commented on #63
Thanks for the clarification! I try to test it is soon as possible. Considering that you have a test for this case i see this issue as closed. Thx for your fast response and explanation!

[2018-10-15 17:12] #63 closed

[2018-10-22 19:01] rohitjoshi opened #64 "JWE support"
Any plan to support JWE support?

https://tools.ietf.org/html/rfc7516

https://github.com/SkyLothar/lua-resty-jwt#sign-jwe

[2018-10-22 19:19] Keats commented on #64
I am not going to implement it myself but I am not against someone working on it, provided that there are tests/docs and the UX is nice.

[2018-10-22 19:21] Keats commented on #62
Sorry for the delay

The commands in the last message *look* fine to me

[2018-11-07 22:54] mehcode opened #65 "validate_exp when exp is not in token claims"
Looking at https://github.com/Keats/jsonwebtoken/blob/master/src/validation.rs#L128

It seems odd that if `exp` is not in the token validation fails. Otherwise `exp`-less tokens insta-fail with `Validator::default()`.

I'd vote for changing this so that its not an error if exp is asked to be validated and exp is not present.

[2018-11-09 10:54] Keats commented on #65
`jsonwebtoken` differs a bit from the spec in some points to avoid footguns like not having the `none` algorithm.
The default should be a good one and having a JWT without `exp` is a bad idea so it is worth it making the user realise what is going on. The change is not that big: `Validation { validate_exp: false, ..Validation::default() };` if you really need that.

[2018-11-09 10:54] #65 closed

[2018-11-09 17:52] matthew-nichols-westtel opened #66 "Validation defaults for iat and nbf conflicts with documentation"
In the documentation (https://docs.rs/jsonwebtoken/5.0.1/jsonwebtoken/struct.Validation.html#structfield.validate_iat) it's mentioned that the `validate_iat` and `validate_nbf` fields are `true` by default, but in the source (https://docs.rs/jsonwebtoken/5.0.1/src/jsonwebtoken/validation.rs.html#98-99) the default value is `false`. This is also the behavior of the current release (5.0.1).

[2018-11-09 17:55] Keats commented on #66
Looks like I forgot to update the docs :(

[2018-11-09 18:05] Keats commented on #65
Although looking at the code again, it seem that `iat` and `nbf` should be validated automatically if present instead of having to set it up in `Validation`

[2018-11-09 18:30] Keats commented on #66
Although it is interesting in terms of UX what should be done there. We want good, secure defaults for the decoding so it should probably validate those by default if possible, meaning the api of v4 was better despite the buggy implementation (https://github.com/Keats/jsonwebtoken/issues/51).

I'll think about it over the next couple of days but it looks like this needs to be re-done and it is a b

[2018-11-09 18:34] Keats commented on #66
Ah I also don't remember why Validation:algorithm is a `vec` sadly...

[2018-11-20 17:24] technetos opened #67 "How to set expiration with examples."
Ok so I am trying to use this crate and I keep getting `expired signature` when I try and decode my jwt when the client sends it back to me.  I have a field in my struct that gets encoded as a jwt called `exp` of type `usize` and ive set it to `3600` (1 hour) but it just seems to be ignored.  Am I doing something wrong and if so, what is the correct way to set the expiration time of the token?

Ne

[2018-11-20 19:10] #67 closed

[2018-12-04 18:34] greglearns opened #68 "How to use JsonWebToken when I don't have a DER and can't use command line tools"
I have a rust service that needs to verify JWTs from 3rd-party services that I do not control. The 3rd party service (Portier, in this case) supplies the RSA public components (`n` modulus, and `e` exponent). Given that `jsonwebtoken can only read DER encoded keys` and that I cannot manually run the recommended command-line options for OpenSSL, what is the recommended way of being able to decode a

[2018-12-05 08:18] Keats commented on #68
I don't think there is currently an easy way to do that. It would be nice to have a function in `jsonwebtoken` that does the DER conversion but haven't looked into that yet.

[2019-01-02 22:40] AaronFriel commented on #68
@Keats there appears to be a function in Ring that will do this: https://briansmith.org/rustdoc/ring/signature/primitive/fn.verify_rsa.html

Would you consider a PR that would add a function with a signature like the following?

[code]

[2019-01-07 09:32] PSeitz commented on #66
There may be cases where there are multiple validation algorithms are used, but it's only secure if they are paired with their keys.

[2019-01-09 02:30] jbg commented on #21
I've got ECDSA signing working in [my fork](https://github.com/jbg/jsonwebtoken), tested working for APNS JWT auth using [my fork of apns2-rust](https://github.com/jbg/apple-push). I didn't implement signature verification yet since I didn't need it, but can add that and submit a PR if there's interest.

Unfortunately, ECDSA signing requires ring 0.14, so the long-standing [issue](https://github.c

[2019-01-09 07:37] briansmith commented on #21
I will update Rustls soon. I already have a PR for it.

[2019-01-10 14:18] Keats commented on #21
Oh I thought the versioning fix was meant to be merged in 0.13 :(
Would be nice to have a PR for ECDSA, there are quite a few breaking changes piling up.

[2019-01-10 14:19] Keats commented on #66
Yes that's in the spec but I thought I changed that before, weird. Will be fixed in the next version

[2019-01-11 14:22] jbg commented on #21
OK, I'll try to implement verification this weekend and submit a pull request

[2019-01-15 01:49] brianpeiris opened #71 "Submit a PR to jwt.io to update feature support"
The listing for jsonwebtoken on https://jwt.io/#libraries-io seems to be outdated, e.g. it claims you don't support `exp` checking. You can submit a PR to update it at their repo:
https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/master/views/website/libraries/13-Rust.json#L38-L68

[2019-02-01 02:36] jhpratt commented on #65
@Keats Perhaps the error message could indicate that the expiration is _not present_ and not _expired_? When testing a very basic encode/decode, I get an `ExpiredSignature` error, which is counterintuitive to say the least.

[2019-02-01 04:14] jbg commented on #21
Finally got around to this today: https://github.com/Keats/jsonwebtoken/pull/73

[2019-02-01 08:46] Keats commented on #65
A different error kind would make sense yes

[2019-02-04 17:46] Keats commented on #71
Thanks, I'll update it after the next release

[2019-02-04 17:50] Keats commented on #66
`iat` validation removed for now, will open another issue to discuss the rest

[2019-02-04 17:50] Keats commented on #62
@aep can this be closed?

[2019-02-04 17:51] aep commented on #62
yes thanks!

[2019-02-04 17:51] #62 closed

[2019-02-04 18:10] Keats opened #76 "v7 discussion"
There are quite a few changes happening in the PRs: more input format for RSA (#69, #74), ECDSA signing & verification (#73) as well as some Validation changes.

I have already removed the `iat` check in the `next` branch since it isn't something that should be checked.

Right now, `Validation::algorithms` is a `vec`. I don't remember why but it shouldn't be the case, it should be an `algorithm: A

[2019-02-05 10:06] Jake-Shadle commented on #76
I only became aware of this lib yesterday because of the bug I was tracking down, and while #74 works, it's not what I would call clean.

So my one thought looking at this code only briefly was that it might be nice to be able to expose some helpers for deserializing the RSA key based on the user knowledge and passing that key down to the API rather than the current method of just trying both. The

[2019-02-05 10:10] briansmith commented on #76
In my future plans for *ring*, I expect the user will be able to create keys in ways other than reading them from byte arrays (files). For example, some users may want to generate a private key in memory and never serialize it. Or, we may support importing keys from the operating system where we never have the raw bytes of the key. And, I think once we have that functionality, people will want to

[2019-02-05 10:12] briansmith commented on #76
In other words, rather than having a PKCS#8 parsing API in jsonwebtoken, and a "raw DER" parsing API here, i recommend instead just have the user use *ring*'s parsing API to construct a key and pass it into jsonwebtoken.

[2019-02-05 16:33] Keats commented on #76
That would require users having to add `ring` and `untrusted` to their list of direct dependencies, which isn't great in terms of UX.
Also if we somehow decide to have an openssl backend in addition of ring it would make things complicated

[2019-02-05 18:09] briansmith commented on #76
In *ring*, we're gradually phasing out the use of `untrusted` in the API. Maybe that will be done in *ring* 0.15. I don't think it's problematic for people who want to use *ring* to use use *ring*'s API to construct the key used. That seems much better to me than having this crate (and every crate that uses *ring*) duplicate *ring*'s API to hide the fact that *ring* is used.

I personally think th

[2019-02-06 16:26] Keats commented on #76
Right now I need to bump the major version of this crate everytime `ring` gets a major version. If the symbols versioning PR is merged, I won't need to bump it all the time. However if `ring` is exposed, I would have to bump on every breaking change even after that.

[2019-02-15 06:09] manifest commented on #76
@briansmith In our case we have web services written in Rust, Erlang, Ruby and Go. They need to use a same key to verify access tokens in incoming requests. If I generate keys using Ring, I'll get a keypair in pkcs8 DER format instead of just a private key that is, for instance, is used by Erlang crypto library. I will need to parse the keypair in the applications and that seems to me as not a goo

[2019-03-04 22:01] gpit2286 opened #77 "Decoding with x509 certs"
I'm having a hard time authenticating a token using a x5c.  (MS OAuth/Azure)

Below is the code...

[code]

The above always returns InvalidSignature.

* RS265 is the correct algo.
* The cert is correct. I tried it on jwt.io by adding a BEGIN/END cert and it validates fine.
* I used ssl to convert the BEGIN/END pem to DER and the bytes match up from the base 64 decode.
* The key URL is: https://lo

[2019-03-07 02:13] PrismaPhonic commented on #65
To be honest I'm not seeing anywhere in the documentation how you set an expiration on a token.  Can someone point me in the right direction?  It doesn't seem to be any of the Header fields

[2019-03-07 09:03] Keats commented on #65
Adding expiration is done on a claim, like in the struct in https://github.com/Keats/jsonwebtoken#how-to-use: https://tools.ietf.org/html/rfc7519#section-4.1.4

The validation itself uses the UTC timezone so the `exp` field should be a UTC timestamp.

[2019-03-08 18:01] maxburke commented on #77
I'm running into the same issue, too...

[2019-03-08 18:15] Keats commented on #77
You can try to clone jsonwebtoken locally to see where it is failing: `InvalidSignature` would be caused by any error in that fn https://github.com/Keats/jsonwebtoken/blob/master/src/crypto.rs#L100-L113

A first thought on why it doesn't work could be that Microsoft maybe doesn't use URL safe base64?

[2019-03-08 18:29] maxburke commented on #77
I'm wondering, could it be because the x5c field has the x509 certificate chain and not just the RSA public key?

[2019-03-08 19:21] gpit2286 commented on #77
I don't think this makes sense.  Because using openssl extracts to the same
binary representation.

On March 8, 2019 at 10:29:05 AM, Max Burke (notifications@github.com) wrote:

I'm wondering, could it be because the x5c field has the x509 certificate
chain and not just the RSA public key?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<h

[2019-03-09 03:35] manifest commented on #76
@Keats it seems that it'll take some time to implement all described features for `v6`. Can we merge [ES256 support](https://github.com/Keats/jsonwebtoken/pull/73) before that? Working with the branch creates a bunch of dependencies-related issues.

[2019-03-09 09:24] Keats commented on #76
An intermediate release would have to be a major one sadly. However I can probably merge that PR in the v6 branch and you shouldn't have dependencies issues at that point no?

[2019-03-09 19:06] manifest commented on #76
Merging into master without bumping a new version of crate won't make a difference. Dependencies issues I'm talking about exists because of some other crates're using the current version of **jsonwebtoken**  crate.

[2019-03-09 19:08] manifest commented on #76
Maybe we can have *v6* with ES-256 support, and other features in *v7*? I mean the version is just a number.

[2019-03-14 08:11] Keats commented on #76
We could but it is annoying for end users to have frequent breaking changes :/

[2019-03-14 17:21] manifest commented on #76
It always better to have releases available as soon as possible in my opinion.  You always can stay on a previous major release, If you don't care about new features. It also shouldn't cause any problem if you're using simversion properly.

[2019-03-18 06:22] samuela commented on #71
I just submitted https://github.com/jsonwebtoken/jsonwebtoken.github.io/pull/386

[2019-03-18 08:04] samuela opened #80 "jsonwebtoken fails to verify valid token"
I have a known valid token, verified with https://jwt.io/. Yet, no matter what I do jsonwebtoken declares `InvalidSignature`. Here's an example:

[code]

No matter what jsonwebtoken returns `Err(Error(InvalidSignature))`. The payload looks like:
[code]

[2019-03-18 18:50] samuela commented on #80
Potentially related to #77 ?

[2019-03-18 19:05] Keats commented on #80
It does look related, closing this to keep things in a single thread.

[2019-03-18 19:05] #80 closed

[2019-03-18 19:09] samuela commented on #77
I'm having the same issue with Auth0. Even with the correct certificate and a valid token (verified with jwt.io) jsonwebtoken reports `InvalidSignature`. (See #80 for more details.)

[2019-03-18 19:11] samuela commented on #77
Side note: Can we change the name of this issue slightly? It doesn't really seem to be about x5c to der conversion at this point. I wasn't aware of it when I initially came across the same thing.

[2019-03-18 19:11] Keats commented on #77
From https://github.com/Keats/jsonwebtoken/issues/80 it does look like it is a common failure with x509 certificates.

Would anyone have some time to look into that?

The current situation with all various combinations of algorithms/key types is becoming  unwieldy, hopefully after something like https://github.com/Keats/jsonwebtoken/issues/76 it will be easier to use

[2019-03-18 19:18] samuela commented on #77
@Keats I personally don't have time to look into it at the moment, but I'd be happy to help out/explain my setup/provide example test cases that are breaking for me for whoever would like to take a stab at it.

[2019-03-22 08:21] Keats commented on #76
I don't have the time to implement that right now so let's get all the PRs in v6.
That is going to be messy but at least not block people

[2019-03-22 08:46] Keats commented on #76
The next version is at https://github.com/Keats/jsonwebtoken/pull/75 if people want to try it, I'm trying to get the other outstanding PRs to be merged in it.

[2019-03-31 10:39] rakenodiax opened #82 "Provide example using chrono::DateTime"
`chrono` is a very popular date and time library and defaults to serializing as ISO strings instead of timestamps as per the JWT spec. It'd be nice to have an example using the `#[serde(with = "..")]` attribute. I can submit a PR with this example if it is accepted for inclusion.

[2019-04-01 07:51] Keats commented on #82
Please do so!

[2019-04-01 08:18] rakenodiax commented on #82
@Keats I'll get right on it!

[2019-04-03 17:11] nyarly opened #84 "Update Ring to 0.14"
I appreciate the challenge of chasing Ring's versions, but ATM jsonwebtoken can't be used with rustls (which depends on ring 0.14).

Is that process basically mechanical? i.e. Bump Ring, test, bump version, publish?

[2019-04-03 17:16] Keats commented on #84
See https://github.com/Keats/jsonwebtoken/issues/76#issuecomment-475531454

We're trying to get a couple more PRs that are breaking change in before releasing.

[2019-04-03 17:16] #84 closed

[2019-04-03 17:30] nyarly commented on #84
Aha, thanks! I didn't see that comment when I was following the flow here.

[2019-04-09 14:02] Guara92 commented on #77
I have the same issue with EC certificate, created with
`openssl ecparam -name secp384r1 -genkey -noout -out p384-private-key.pem
openssl ec -in p384-private-key.pem -pubout -out p384-public-key.pem`
then converted to der format
`openssl pkcs8 -topk8 -inform PEM -outform DER -in p384-private-key.pem -out p384-private-key.der -nocrypt
openssl ec -pubin -inform PEM -in p384-public-key.pem -outform D

[2019-04-15 21:59] cfsamson opened #85 "Keys in test folder"
Please specify that in the test folder, the correct public key for `private_rsa_key.pem` is `public_rsa_key_8.pem` and not `public_rsa_key.pem`. Looking at the tests where the `*.der` files are one would assume that it's `public_rsa_key.pem` that is the correct one but I only got the test token verified by using `public_rsa_key_8.pem` and thought there was something wrong in my `base64` to bytearr

[2019-05-09 19:37] maxburke commented on #77
@gpit2286 I'm not quite sure this will close the issue; it isn't that the input has the `----BEGIN xxx-----` tags, it's that the validation doesn't succeed when a certificate (ie: identity information + public key) is provided to validate against.

[2019-05-11 00:48] maxburke commented on #77
I have more information now, at least with the Azure use case.

The `x5c` field returned by the Azure keys endpoint does have both the certificate chain and public key. If the public key is extracted (ie: with `openssl x509 -pubkey ...`), verifying the JWT will still fail because the DER has an object ID field prepended to the public key. When the OID field and associated TLV data is stripped off,

[2019-05-14 02:57] maxburke commented on #77
For what it's worth, I'm using this code to extract the DER-formatted public key from an Azure ADB2C certificate and it seems to be working. It is depending on der-parser 1.1.1, nom 4.3.2, and rusticata-macros 1.1.0

[code]

[2019-05-14 04:49] Keats commented on #77
Hmm that is adding quite a few dependencies :/

Getting that added to `ring` is probably not going to happen so I think it would be to be in `jsonwebtoken` but need to consider API to match https://github.com/Keats/jsonwebtoken/issues/76

I think the first step to decide that would be to check how the JWT libraries in Python/Go/JS/etc handle x509 certs from Amazon/Google/Azure/others as well as ge

[2019-05-15 17:59] ndarilek commented on #80
@samuela
samuela Looks like you're doing exactly what I am--writing a Hasura auth webhook to verify an Auth0 JWT. Did you ever make any progress on this? Right now I'm just pasting in static tokens/certificates and am hitting this exact same issue. I don't want to give up and switch to Node if I can avoid it. :) Thanks.

[2019-05-15 18:11] samuela commented on #80
@ndarilek I gave up and switched to node :( I wasn't able to find a satisfactory solution with any of the rust jwt libraries unfortunately. Hoping that this aspect of the ecosystem matures in the future...

[2019-05-15 18:12] ndarilek commented on #80
Gotcha. Thanks for saving me some time.

[2019-05-20 23:05] Pierozi opened #90 "ECDSA nistp256 from HEX"
I'm struggle to encode using a private key in hexadecimal format.
I need to convert library from another language.

The key in hex are like this one `a3ed0dd27cbfa62e13e340fb3dbb86895b99d5fd330a80e799baffcb1d29c17a`

I've tried to decode, or even encapsulate with other libraries like signatory but I can't make it work.

[2019-05-21 16:41] Keats commented on #90
Do you have an example in another language?
What happens if you convert the hex string into a byte slice and use that as the key?

[2019-05-21 22:09] Pierozi commented on #90
The implementation are based on this library https://github.com/kjur/jsrsasign
There is demo about key generation :https://kjur.github.io/jsrsasign/sample/sample-ecdsa.html

[code]
As far my understanding grabbed during the research (see annexes on the bottom), the HEX string that I have is not the full PEM.
But a `seed` which is deterministic. And we have to generate on the fly the Private key.

[2019-05-25 16:14] Keats commented on #66
I think the validation issues are fixed in v6 so closing it

[2019-05-25 16:14] #66 closed

[2019-05-25 16:17] Keats commented on #76
The work on next version has started in https://github.com/Keats/jsonwebtoken/pull/91 thanks to @Jake-Shadle

The plan is to add #69 and #87 to it (so 2 more key types: Modulo and Pem) and figure out why some decoding does not work (#90, #77) by adding more tests.

[2019-06-03 21:07] Pierozi commented on #90
Solve it with openssl, public key was missing.
Seems not possible with ring.

[code]

[2019-06-03 21:07] #90 closed

[2019-06-05 04:44] kanru opened #92 "Support for RSASSA-PSS signing algorithm"
As specified in https://tools.ietf.org/html/rfc7518#section-3.5

-  PS256 - RSASSA-PSS using SHA-256 hash algorithm
-  PS384 - RSASSA-PSS using SHA-384 hash algorithm
-  PS512 - RSASSA-PSS using SHA-512 hash algorithm

The RSASSA-PSS signature verification algorithm is supported by ring

[2019-06-22 03:48] lzutao opened #94 "Release new version"
sccache currently is depending on a patch: https://github.com/Keats/jsonwebtoken/pull/74

[2019-06-22 08:38] Keats commented on #94
This PR has been superseded by https://github.com/Keats/jsonwebtoken/pull/91 and is a big breaking change so it won't get released until it has everything needed (https://github.com/Keats/jsonwebtoken/pull/69) as well as testing the usage UX heavily + x509 certificate testing.

[2019-06-22 08:38] #94 closed

[2019-06-22 08:50] lzutao commented on #94
No problem then. I could depend on exact commit of this repository.

[2019-07-04 12:10] vmalloc commented on #77
I'm not sure my problem is related to the one here, but for me just trying to decode an example from jwt.io fails with `Invalid Signature`. For example, this fails:

[code]
Where `token` is a direct copy-paste from jwt.io, and `pubkey` is the public key from jwt (beginning with `-----BEGIN PUBLIC KEY-----`)

Is this related to this issue? Am I doing something wrong?

Thanks in advance!

[2019-07-04 18:59] Keats commented on #77
Probably an issue in this crate, can you link to the example on jwt.io?

[2019-07-04 19:26] vmalloc commented on #77
It reproduces with the default example on their front page - just select “rs256”...

[2019-07-06 20:57] Keats commented on #77
The issue there is that the format expected by `ring` is specific: https://docs.rs/ring/0.15.0-alpha3/ring/signature/index.html#signing-and-verifying-with-rsa-pkcs1-15-padding
Running that command to generate the DER and using that file as key works, the key argument being `RSAPublicKey_out`.
I'm trying to figure out if there is a way to convert RSA .pem into that format in Rust without using open

[2019-07-13 15:45] #82 closed

[2019-08-11 18:10] briansmith commented on #77
Usually when people have PEM encoded public keys, they are in `SubjectPublicKeyInfo` format. webpki includes a `SubjectPublicKeyInfo` parser. There is interest in moving that to *ring*; see https://github.com/briansmith/ring/issues/370. It's one of those unfortunate things where I'm the best one to do it (for IPR reasons, at least) but perpetually too busy to do it.

The `SubjectPublicKeyInfo` con

[2019-08-11 18:11] briansmith commented on #77
Regardless, I don't think it's realistic to block the other changes pending to add x509 support to jsonwebtoken. Adding x.509 to jsonwebtoken is a job that's probably as big as producing all the rest of jsonwebtoken itself.

[2019-08-12 00:09] LeviSchuck commented on #77
Keats, I experimented a bit with RSA keys, in PEM and DER format.

The base64 decoded data from the PEM appears to be verbatim the equivalent of the binary DER file I have. Good news is there's a library for getting a std vec u8 from a pem string.
https://crates.io/crates/pem

As such I have gotten a proof of concept working with a openssl rsa keypair
https://github.com/LeviSchuck/pemtest

This ha

[2019-08-12 00:14] briansmith commented on #77
This is the wrapper header

This is the algorithm identifier.

This is the part that *ring* needs.

Notice it is the same as this.

[2019-08-12 09:16] Keats commented on #77
Thanks for the info!
I think it would be great for that to be in `ring` since it seems it fits better there than in webpki. Or it could be a stand-alone small crate but I am guessing it is common enough with RSA to warrant being in ring directly, at least for JWTs since it's almost always in .pem format.

[2019-08-12 21:48] LeviSchuck commented on #77
Here's a proof of concept of a RS256 JWT with only ring, pem, and base64 as dependencies.
a 2048 bit rsa PEM key is saved as `private.pem`

[code]

I do think it would be best if PEM support were in `ring`, but it can be done in the immediate like the above.

[2019-08-29 00:36] cynner opened #98 "nbf claims does not validate"
version: `6.0.1`
algorithm: `Algorithm::RS512`

I just add nbf for 4200 sec from now. After 5-10 sec. i try to validate this token but it is pass (set leeway just 60 sec. but it should not be pass). so i think it not validate nbf time. (My purpose is for validate refresh_token that can use after access_token expired or `refresh_token.claims.nbf = access_token.claims.exp` )

* exp is works but nbf

[2019-08-29 10:41] Keats commented on #98
The default validation does not validate `nbf` https://github.com/Keats/jsonwebtoken/blob/master/src/validation.rs#L91 since `nbf` is not a super common field. Set `validate_nbf` to true and it should work

[2019-08-29 15:05] cynner commented on #98
Oh thanks. It's works.

[2019-08-29 15:05] #98 closed

[2019-08-31 22:09] brochington commented on #77
I'm not very familiar with the process of decode jwts in general, and while I'm trying to glean as much understanding I can from the issues in this repo, I am having a hard time understanding the current state of `jsonwebtoken` and x509. Would anyone be able to clarify the current status of using Auth0 (with RS256/x509) and this lib? I'm hitting the same problems that @samuela has hit, but would r

[2019-09-12 14:42] Dowwie opened #99 "."
.

[2019-09-12 14:54] #99 closed, assigned to nobody

[2019-10-03 22:00] upachler commented on #77
Looks like I'm having the same issue when attempting to validate JWTs issued by Keycloak. jsonwebtoken is unable to parse the public key....

[2019-10-04 00:45] Keats commented on #77
That's the same issue, the underlying crypto library is expecting the key to be in a specific format which is not the commonly used one.
@LeviSchuck poc is interesting and a PR with that would be useful, even if we end up switching to the built-in ring function later on (https://github.com/briansmith/ring/issues/370#issuecomment-535213266)

[2019-10-04 01:26] LeviSchuck commented on #77
Sure, I can see if I can throw something together this weekend.

Should this be feature gated, so pem isn't drawn in as a dependency unless requested?

[2019-10-04 01:35] Keats commented on #77
No need to feature gate it. Make sure you do the PR on the v7 PR in a standalone file since it still requires thinking about the UX and I have no clue what the usage would be like.

[2019-10-13 12:57] Dowwie opened #101 "audience and its validation logic require revision"
@Keats I think that the Validation type's aud field and the aud validation logic requires reconsideration.

## Validation config's aud field

The ``Validation`` type should use aud: ```Option<String>```, not [```Option<Value>```](https://github.com/Keats/jsonwebtoken/blob/master/src/validation.rs#L52).  The jwt spec states that aud can be one or more strings, and this remains true for the aud clai

[2019-10-14 09:32] hugo opened #102 "Amazon Web Services compatibility"
I'm working on a service that will sit in AWS, behind an ALB. Amazon [has a feature](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html) where you can to auth at the ALB, and your application will be provided with JWTs in specific headers. Unfortunately, the `x-amzn-oidc-data` header comes with incorrect base64 encoding, which means that spec-confo

[2019-10-14 12:40] #101 closed

[2019-10-14 12:40] Dowwie commented on #101
[see PR](https://github.com/Keats/jsonwebtoken/pull/103)

[2019-10-14 17:51] Keats commented on #102
Is that still the case recently? I found https://github.com/brianloveswords/node-jws/pull/84#issuecomment-467770061
IMO it doesn't really makes sense to add support for a bug, in that link above they said they were changing it but it does suck :/

[2019-10-14 18:48] hugo commented on #102
It's still an issue. They've at least acknowledged that it's a bug, but it's not looking like it will be fixed any time soon. Perhaps I'll just write a blog post and put up a demo repo showing how to work around the problem, while it persists.

[2019-10-17 19:44] Keats commented on #76
See https://stackoverflow.com/questions/54196846/how-to-specify-a-certain-commit-in-dependencies-in-cargo-toml for that, just point to the latest commit in the v7 branch and you should be good to go.

[2019-10-18 16:22] clarkezone commented on #76
Agreed.  It would be even nicer if it could load a JWK directly.  I can't figure out how to supply the modulus and exponents from the json form.. base64 decoding those strings fails for me

[2019-10-18 16:24] Keats commented on #76
v7 can load a RSA key from a modulus/exponent pair: https://github.com/Keats/jsonwebtoken/blob/next/tests/rsa.rs#L67-L100

[2019-10-19 04:56] clarkezone commented on #76
I know but how to I easily convert from text format from a jwk:

I'm trying to convert n and e from their encoded form for use in jsonwebtoken

const jwk = {
    "alg": "RS256",
    "kty": "RSA",
    "use": "sig",
    "x5c": [
      "MIIDAzCCAeugAwIBAgIJQjv/H0ysfmAsMA0GCSqGSIb3DQEBCwUAMB8xHTAbBgNVBAMTFGNsYXJrZXpvbmUuYXV0aDAuY29tMB4XDTE3MDgyNjIzNDUwOVoXDTMxMDUwNTIzNDUwOVowHzEdMBsGA1UEAxMUY2xhcmtlem

[2019-10-21 16:37] samueltangz opened #104 "`exp` is validated as an opt-in option, which is different from the doc"
According to [the documentation](https://github.com/Keats/jsonwebtoken/tree/89fbd8f0ce5337d9bb2244007526a40bec1aa207#validation), it is stated that

However, from the source code, it would be an opt-out option to validate `exp` claim, causing a disparency from the documentation and the actual logic.

https://github.com/Keats/jsonwebtoken/blob/89fbd8f0ce5337d9bb2244007526a40bec1aa207/src/validation

[2019-10-21 16:43] Keats commented on #104
The doc is wrong, I'll update it in the `next` branch. Thanks for noticing it!

[2019-10-25 02:46] Figments commented on #67
I can't seem to figure this one out. You say "Now + an hour", but what does that even mean? Are you using `std::time::SystemTime::now()` and somehow casting that as a `usize` value? I can't seem to do that.

[2019-10-25 14:32] Keats commented on #67
The `exp` field should be a UTC timestamp, so now + 1h would mean current UTC timestamp  + 3600

[2019-10-25 19:41] Figments commented on #67
So then the type of the `exp` field should be from the `std::time` library or `chrono`? Or does it matter?

[2019-10-26 10:58] Keats commented on #67
How you get the timestamp doesn't matter, at the end it should be just a UTC timestamp, so a `usize` effectively. In the tests, we do https://github.com/Keats/jsonwebtoken/blob/master/tests/lib.rs#L39 for example.

[2019-10-28 18:38] Dowwie commented on #76
@Keats  any interest in also supporting PEM files?

[2019-10-28 18:41] Keats commented on #76
Yes that's the main blocker for the v7 release: https://github.com/Keats/jsonwebtoken/issues/77#issuecomment-520248623 (details from that comment and below).

[2019-10-29 14:59] Dowwie commented on #77
@LeviSchuck apologies if this has already been done but what is the status on the work for supporting PEM?  this is blocking v7 release..

[2019-10-29 20:07] LeviSchuck commented on #77
So do I make a PR and then @Keats merges it into #91 ?

[2019-10-30 04:48] LeviSchuck commented on #77
There's absolutely no documentation on the functions yet. But I got tests that pass and I dabbled on the README a bit. https://github.com/LeviSchuck/jsonwebtoken/commit/755e4cbcb684a348ce5798850b37441329bfe006

I would appreciate some feedback. It took more time than I anticipated with the nuances of PKCS1 and PKCS8 support with RSA and EC.

[2019-10-30 10:00] Keats commented on #77
Can you do a PR on the 7.0 PR? That will be easier to give feedback

[2019-11-10 16:26] tekjar opened #109 "Release with ring 0.16"
Hi. Are there any tentative dates to release `next` branch with ring 0.16?

[2019-11-11 10:59] Keats commented on #109
No dates but there is an ongoing active work in https://github.com/Keats/jsonwebtoken/pull/107 which should result in an alpha version once the RSA pubkey components bug is fixed and the docs updated.

[2019-11-15 19:48] Keats commented on #76
An alpha version has been released: https://docs.rs/jsonwebtoken/7.0.0-alpha.1/jsonwebtoken/index.html

If anyone has some time to try it and give feedback it would be great. The main change is that the encode/decode functions now take the .pem instead of the der format, it can decode using RSA pub key components and adds RSA PSS.

cc @Jake-Shadle
It's not using the `Key` enum anymore but it shoul

[2019-11-16 00:08] Dowwie commented on #109
@Keats there's report that use of actix-web secure cookie feature triggers a ring version conflict with jsonwebtoken imported into the lib as well.  Aren't you using actix-web in your projects?

[2019-11-16 10:47] Keats commented on #109
I'm not using actix-web anymore right now, and I have never used jsonwebtoken (this crate) myself.

That's the reason why jsonwebtoken is on v7, every new release of ring is incompatible with the previous one and there can be only one in a project: the whole ecosystem needs to be updated. I *think* it's not a problem anymore since 0.16 though.

[2019-11-21 20:37] Dowwie commented on #109
This has since been addressed in latest actix-X projects.  This means the new jsonwebtoken will work with actix-web v2.

[2019-11-25 02:19] rib commented on #76
Hi @Keats - thanks for the version 7 update! I've been look at using this for verifying access and id tokens from Amazon Cognito and in particular the fact that it's now possible to directly pass the RSA exponent and modulus values for the key has been really helpfull.

One thing I have got stuck with though is being able to efficiently handle additional validation of the claims beyond what's hand

[2019-11-25 12:53] Dowwie commented on #76
@rib @Keats It *would* be nice to turn validation into a behavior exposed as a trait, such as ``trait Validator<C>`` and allow for anyone to write a custom type that impl's a ``trait Validator<C>`` where C is the custom claim type (or something along these lines?).  This ought to facilitate what @rib and others will try to accomplish.

@rib note that @Keats is maintaining this library as a courtes

[2019-11-25 16:02] Keats commented on #76
I'm not sure I want to make a trait based validation since for 99% of the users, the current approach will work. Adding the encoded claims could be useful but it would expose some serde_json internals (the Map) from the crate.
You can easily add a `to_value(&claims).unwrap().as_object().unwrap()` to get the Map back. A bit wasteful since you re-serialize but claims in general should be small enoug

[2019-11-25 22:29] rib commented on #76
It doesn't seem ideal that serializing the claims type requires that it has fields for everything you want to validate while the map has everythig contained in the JWT. To be able to get to all the original claims it really doesn't feel ideal to have to separately decode and parse the token again after it's been validated. In total this results in 2x decode and 3x deserialize - and although they a

[2019-11-26 06:49] JTKBowers commented on #76
Hey everyone! I'm writing a generic JWK crate (like @rib, with the primary motivation of interacting with AWS cognito). I've been playing round with a couple of the most recent commits on this branch, so I thought I'd chime in with my 2c.

I had a few questions and ideas:
- Would it be possible to expose one decode function that takes a key enum? Because I'm writing a somewhat generic crate that s

[2019-11-26 12:36] Keats commented on #76
I think a decode_raw could be added if you want the Map but the decode by default should still deserialize into a struct by default where you can build additional validation on top of it if needed. The default basic JWT should be as easy as possible.

That was the case in the next branch a while ago but wasn't really great from a user perspective.

This is likely to happen.

Yes, there were some w

[2019-11-26 14:05] rib commented on #76
I think the thing I'm finding awkward with the deserializing into a struct design (and maybe similar for @JTKBowers if he's also making Cognito middlware) is that there may be multiple consumers of a deserialized token. If jsonwebtoken is considered to be a low level library for dealing with tokens (at least that's how I've been looking to use it) then there will be others that want to build middl

[2019-11-26 14:56] Keats commented on #76
That's not really the goal. The goal was to have https://pyjwt.readthedocs.io/en/latest/ in Rust where the decoded claims are in a struct instead of a hashmap. Some parts of the inner API are public (https://docs.rs/jsonwebtoken/7.0.0-alpha.1/jsonwebtoken/crypto/index.html) to ensure people can build other abstractions on it. At the same time I don't really want to make everything public otherwise

[2019-11-26 23:01] rokit opened #110 "Validating Google aud field throws an error"
I have the following code that creates a validation struct and decodes a token:
[code]
But it throws an error:
`Err(Error(Json(Error("invalid type: string \"my-googleclientid1234.apps.googleusercontent.com\", expected a sequence",
line: 0, column: 0))))`

If I don't try to validate the `aud` field, then the token decodes as expected.

[2019-11-27 08:20] Keats commented on #110
In the v7 alpha? Can you come up with a failing test in https://github.com/Keats/jsonwebtoken/blob/next/src/validation.rs ?

[2019-11-27 17:10] Keats commented on #109
Closing as there is the v7 alpha on crates io for now and full release shouldn't take too long.

[2019-11-27 17:10] #109 closed

[2019-11-27 17:10] Keats commented on #102
I can add a link to that in the README when you publish it!

[2019-11-27 17:10] #102 closed

[2019-11-27 19:23] rokit commented on #110
Here is a failing test:

[code]
I threw the `println` in there so you could see the error I'm seeing.

I thought the reason might be because I was adding the `aud` field while creating the Validation struct as opposed to doing it this way:
`validation.set_audience(&["my-googleclientid1234.apps.googleusercontent.com"]);`
but even the above is not working in my own project.

[2019-11-27 21:27] rokit commented on #110
Wait a minute. I see `to_value` is taking an array now:
`claims.insert("aud".to_string(), to_value(["everyone"]).unwrap());`

Sorry, I must have missed that since I initially copied the test from the master branch which doesn't have it in an array like the `next` branch does.

In that case, how should I be structuring my `GooglePayload`? I thought `aud` took a single `String` value. Honestly, the

[2019-11-27 21:38] rokit commented on #110
The `aud` I'm getting from Google looks like this:
`"aud": "my-googleclientid1234.apps.googleusercontent.com"`

[2019-11-27 21:44] rokit commented on #110
I found this:
https://tools.ietf.org/html/rfc7519#section-4.1.3

I don't think it's right that the `aud` should always be a collection. Per the spec, it can be a single value. I think that's why Serde can't decode into it. Google is giving me an `aud` value that decodes to a single String, my GooglePayload is expecting a single String, but the claims are encoding that to a HashSet...if I'm underst

[2019-11-28 11:43] Keats commented on #110
In theory the set should be internal since it *can* have multiple values but not necessarily as you mention. If you only have one `aud` you still need to pass it as an array right now but it should be treated a single value internally. I'll check later.

[2019-11-28 18:30] Keats commented on #110
Alpha 2 released with this bug fixed.

[2019-11-28 18:32] Keats commented on #76
@JTKBowers would you have the time to try a Key approach again for decoding only? There is already an internal one so it shouldn't be too hard.
As for n/e type, I think `<T: ?Sized + AsRef<[u8]>` could work well so people can use whatever.

[2019-11-28 23:52] rokit commented on #110
Awesome! Thanks Keats!

[2019-11-28 23:52] #110 closed

[2019-11-29 01:21] rib commented on #76
I mentioned above I was experimenting with an alternative API, so in case it might be of interest here, I ended up making some good progress and having an initial working implementation here:

https://github.com/rib/jwt-rust/blob/master/src/lib.rs

At least initially it was heavily based on jsonwebtoken code. I ported most of jsonwebtoken's unit tests across to this API too, but haven't ported the

[2019-11-30 12:22] Keats commented on #76
Hmm this is definitely too different from the current goal. I think we can lift some ideas from it though!

1. Expose a function to convert PEM -> DER so we only decode it once (based on `PemEncodedKey` but not exposing the struct to keep that internal).
2. Add `EncodingKey` (secret, pem, der) and `DecodingKey` (secret, pem, der, n/e, ecdsa component once ring supports it) enums to encode/decode
3

[2019-11-30 14:01] rib commented on #76
yeah, I also wasn't ever anticipating that this implementation would ever handle fetching jwks key sets itself, but was just keeping the possibility that it would be extensible (i.e. another middleware could essentially provide it's own implementation of some `Algorithm` trait which could potentially wrap a key set such as a remote jwks set.

Actually I'm having second thoughts about this aspect b

[2019-11-30 15:45] Dowwie commented on #76
@Keats I started to experiment with item #3 (validator dependency injection).  The boolean option fields in the Validation type are only applicable to the default validation logic presented in the `validate` fn.  Injecting custom validation logic changes the need for have such flags.  If I'm injecting my own validation closure, I control the logic rather than rely on checking flag fields.  Maybe,

[2019-11-30 16:10] rib commented on #76
Btw, for reference, since I also had doubts about it in the end; I updated https://github.com/rib/jwt-rust/ to only have a synchronous API abandoning the idea that an Algorithm could abstract a key set in the future.

[2019-11-30 18:17] Keats commented on #76
The custom validation fn would only be there to enhance the existing
Validation, eg it would be called after all the other validation if it is
present. We probably need to add an error type like CustomValidation and an
easy way to create a jsonwebtoken error from that fn.

On Sat, 30 Nov 2019, 16:45 Darin, <notifications@github.com> wrote:

[2019-12-05 14:28] qmdx opened #111 "How to generate ecdsa key pem ?"
Please , How to generate ecdsa key pem ?

[2019-12-05 14:35] Keats commented on #111
What do you mean?

[2019-12-05 15:32] qmdx commented on #111
yes

[2019-12-05 15:46] Keats commented on #111
https://wiki.openssl.org/index.php/Command_Line_Elliptic_Curve_Operations

On Thu, Dec 5, 2019 at 4:32 PM qmdx <notifications@github.com> wrote:

[2019-12-05 15:57] qmdx commented on #111
thank you very much.

[2019-12-05 15:57] #111 closed

[2019-12-06 09:27] JTKBowers commented on #76
I'd be happy to! Let me know what I can do.

[2019-12-06 09:34] Keats commented on #76
I'm thinking point 1 and 2 of https://github.com/Keats/jsonwebtoken/issues/76#issuecomment-559959232
Point 1 could be done transparently with an EncodingKey enum so users can just save that struct in lazy_static or whatever and only decode it once.

[2019-12-08 13:10] Dowwie commented on #76
@Keats why not target a cutoff date for a any additional enhancements so that v7 can be released this year?  I think I can make time to finish work on an `extend_validation` api in the near future.  Time constraints will help.

[2019-12-09 08:40] Keats commented on #76
The extend_validation can be added in a non-breaking way later on. The Encoding/Decoding key cannot and this is already v7, I want the API to stabilise

[2019-12-09 12:24] Dowwie commented on #76
@Keats in other words, you're saying that the final blocking dependency on a v7 release is the work related to Encoding and Decoding Key?   @JTKBowers

[2019-12-09 16:19] Keats commented on #76
That sounds like putting a lot of pressure on @JTKBowers but essentially I want to make sure jsonwebtoken v7 is stable for at least a year in terms of API.

Encoding/Decoding keys should be pretty easy to implement but would allow the API to be stable and performant.

[2019-12-09 17:08] Dowwie commented on #76
@Keats If I understand correctly, you want to capture as many of the valuable ideas now for v7 as you can because you want v7 crate to be the standard for year that follows its release.  Sounds fair, but you will have to determine what is good enough to ship rather than wait for more good ideas.

Regarding extend_validation, I've been considering tradeoffs related to how to inject a Validation typ

[2019-12-09 23:08] rib commented on #76
I would guess that any performance concern from closure differences should be a drop in the ocean for validating a few token clams, so maybe that shouldn't be a concern? base64 decode + e.g. rsa signature validation is surely going to be much much more costly that an extra pointer dereference?

For now I think jsonwebtoken has some other lower-hanging ways to opimize it before this is really a per

[2019-12-12 18:31] mikeumus commented on #68
@greglearns there's these methods from azure-jwt (rust) repo in GitHub that can convert a KEY to a DER format:

- https://github.com/cfsamson/azure-jwt/blob/c3d6239fed10b23e834f0e9f0cb0ae39618c4118/src/lib.rs#L636
[code]

[2019-12-12 18:36] Keats commented on #68
v7 alpha also does it

[2019-12-12 21:29] mikeumus opened #112 "failed to encode: Error(InvalidRsaKey)"
I get this error when trying to `encode()` with `RS256`:
[code]

Here's my line of code that uses `encode()` and it straight out of the `/examples`:

[code]

But when I use `&Header::default()` for `encode`'s header parameter, it works fine. I'm using this function to convert a `KEY` to the `DER` format:
- https://github.com/cfsamson/azure-jwt/blob/c3d6239fed10b23e834f0e9f0cb0ae39618c4118/src/lib.

[2019-12-12 21:31] Keats commented on #112
Which version? Have you tried v7 alpha?

[2019-12-12 22:05] mikeumus commented on #112
@Keats here's my `Cargo.toml`

[code]

[2019-12-12 22:10] Keats commented on #112
You can use `jsonwebtoken = "7.0.0-alpha.2"`

[2019-12-12 22:16] mikeumus commented on #112
@Keats, thanks.

Now the error is `Error(InvalidKeyFormat)` 🤔

[2019-12-12 22:20] Keats commented on #112
Put the PEM formatted string as key, not the DER

[2019-12-12 22:23] mikeumus commented on #112
I've tried just the `KEY` as a `const: &str` as seen here but still `Error(invalidKeyFormat)`:

https://github.com/cfsamson/azure-jwt/blob/c3d6239fed10b23e834f0e9f0cb0ae39618c4118/src/lib.rs#L570
(I've tried it all on one line with no `\`s and also broken up on multi-lines.)

[code]

[2019-12-12 22:28] Keats commented on #112
That's not a valid PEM file. A valid one looks like https://github.com/Keats/jsonwebtoken/blob/next/tests/rsa/private_jwtio.pem note the wrapping in https://github.com/Keats/jsonwebtoken/blob/next/tests/rsa/private_jwtio.pem#L1 and https://github.com/Keats/jsonwebtoken/blob/next/tests/rsa/private_jwtio.pem#L27

[2019-12-12 22:35] mikeumus commented on #112
@Keats, I have a `.crt` file that begins with `-----BEGIN CERTIFICATE-----`
and a `.key` that begins with: `-----BEGIN PRIVATE KEY-----`

Do I have to convert the `KEY` -> `PEM` with `openssl` for it to work?

[2019-12-12 22:36] Keats commented on #112
If the key starts with -----BEGIN PRIVATE KEY----- then it's already PEM

[2019-12-12 22:38] mikeumus commented on #112
Alright, then that's what I'm using as my `const PRIVATE_KEY_TEST: &str = ...`, it looks similar to the one seen in the referenced `azure-jwt` file.

[2019-12-12 22:40] Keats commented on #112
The one in https://github.com/cfsamson/azure-jwt/blob/c3d6239fed10b23e834f0e9f0cb0ae39618c4118/src/lib.rs#L570 is lacking the PEM wrapping.

[2019-12-12 22:42] mikeumus commented on #112
Oh it needs the `-----BEGIN PRIVATE KEY-----` and `-----END PRIVATE KEY-----`, I see, let me try that.

[2019-12-12 22:47] mikeumus commented on #112
@Keats not the error is: `ParseError("Invalid byte 45, offset 0.")', src/libcore/result.rs:1165:5`

[2019-12-13 22:43] Dowwie commented on #76
I found that an `extended_validation: Option<Box<dyn Fn(...) -> Result<()>>>` field can exist within the Validation type only if ALL of the derived proc macros are removed (Debug, PartialCmp, Clone).  Removing them does not seem to interfere with the library nor tests.  Keeping these proc macros seems to push a solution towards the initial one I proposed, using a generic and trait Validate.  If an

[2019-12-13 23:09] rib commented on #76
@Dowwie I'd be curious to know what you think of the validation solution I came up with in [jwt-rust](https://github.com/rib/jwt-rust). It didn't expose a closure so far but it is generalised to support custom claims. The most common claims are particularly simple to check with something like:
[code]
and custom claims can be handled in a number of ways like:
[code]
Out of curiousity do you have a

[2019-12-14 14:46] Dowwie commented on #76
@rib JWTs are used for all sorts of antipatterns, such as carrying state around (user profile info).  Further, I'm not currently extending my JWT but I have seen others do so for uses such as carrying around authorization related info, beginning with (but not limited to) that which is provided by a "scopes" claim or custom claims such as "roles" or "permissions".  So, at a minimum, an extended val

[2019-12-14 18:07] rib commented on #76
Right, I'm using JWT tokens in an authorization setting with AWS Cognito, which includes a "scope" claim, and Cognito also lets developers add arbirary custom claims to the tokens got from Cognito after authentication.

I guess 99% of those claims can be verified, either by comparing with a fixed value, matching against a regular expression, or matching against a set of either constants or regular

[2019-12-16 10:21] Keats commented on #76
My idea was that custom validation would be done after jsonwebtoken by the user checking the data in their struct so they can use their own custom errors since it's not really a jwt error.
As mentioned, we can easily decode a token in a serde::Value if needed and that might be a better way than adding a closure if the fields you want to validate are not in the end struct for some reasons.

[2019-12-16 13:37] Dowwie commented on #76
@Keats in that case, there isn't any additional work to be done, right?  That's fine with me.  I'm trying to help get work done that is blocking a release.

[2019-12-16 15:27] mikeumus commented on #112
@Keats, any other ideas? 😅
Thanks 🙇

[2019-12-16 15:58] mikeumus commented on #112
I tried again today with:
[code]

and it's ✅

😌

[2019-12-16 15:58] #112 closed

[2019-12-17 16:14] Dowwie commented on #76
@JTKBowers do you think you'll be able to commit some time to work on these items?

[2019-12-20 11:20] Dowwie commented on #76
@Keats I listened to your podcast interview.  You've created so much value for the community.  Thanks so much!  https://rustacean-station.org/episode/007-zola/

[2019-12-28 17:25] Dowwie commented on #76
@Keats would you consider releasing v7 as-is?  looks like @JTKBowers will not deliver.

[2019-12-28 21:28] Keats commented on #76
I think I'll have some time tomorrow to work on it.

[2019-12-29 20:56] Keats commented on #76
It's in https://github.com/Keats/jsonwebtoken/pull/113

It would be great if some people could review that and see if that fits everyone. It does look good from my pov.

[2019-12-30 17:48] Dowwie commented on #76
@Keats that key api looks fine to me..

[2020-01-03 19:26] Dowwie commented on #76
@rib I think it would be helpful if Vincent got feedback from another user of the library other than just me.  Could you try out the latest PR and see if it suits?  We had a valuable exchange in the PR comments that may help you.

[2020-01-03 20:36] rib commented on #76
I guess I'm kinda biased since I ended up coming up with a different design and am using that now ;-p

Taking a look though, one thing I'm wondering about is whether it would be good if there were more rigorous checks that a Decode key that was constructed with a hmac secret vs rsa key vs eliptic curve key could only be used to decode a token with a matching algorithm. Internally most of the keys

[2020-01-04 11:44] Keats commented on #76
Both are good points and should be easy to add.

[2020-01-05 14:23] Dowwie commented on #76
@Keats easy to add, you say? :)  are you going to inspect the magic bytes?  If that works, might be worth adding this to the [infer crate](https://github.com/bojand/infer) and using accordingly rather than crafting something custom?

[2020-01-05 14:23] Dowwie commented on #76
@rib great points

[2020-01-05 15:16] rib commented on #76
@Dowwie the key/secret type is defined by the constructor used (e.g. `from_rsa_pem()` implies `type=RSA`), so there shouldn't really be any need to infer from the raw byte data (and notably since a hmac secret could be anything then it's not really something that can be done reliably by looking at the data itself).

[2020-01-06 18:37] Keats commented on #76
Exactly. It needs to add from_rsa_der and from_ec_der rather than just der but then it is trivial

[2020-01-10 14:37] Dowwie commented on #76
@Keats what do you think-- is this the final stretch before releasing v7?

[2020-01-10 15:53] Keats commented on #76
I think so, I might have time to do the patch Sunday and I'll release a rc on crates.io just to let more people easily try it.

[2020-01-12 16:27] Keats commented on #76
A problem with DecodingKey and using that method is that `Validation` takes an array of `Algorithm` so it is possible to fail when comparing the algo families if a user puts multiple unrelated algorithms for some reasons.
I also don't remember why it is an an array to be honest.

[2020-01-13 11:57] Dowwie commented on #76
[Looks like](https://github.com/spring-projects/spring-security/issues/6883) spring-security supports multiple algorithms.

[2020-01-13 12:56] rib commented on #76
Based on some of the issues discussed here, I would err towards making it hard to mix up algorithms at runtime: https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

E.g. users will want to be 100% sure they can't be tricked into treating an RSA public key as a HMAC key at runtime.

This is simpler to reason about if the library has strong key-type safety and only one expec

[2020-01-13 16:04] Dowwie commented on #76
The None-attack mentioned in that article is addressed by resolving to one of [Algorithm's supported variants](https://github.com/Keats/jsonwebtoken/blob/master/src/crypto.rs#L13).  None is not one of the supported variants.  A supported algorithm *must* be used.  Agreed?

As for the "algorithm misdirection" scenario, this requires analysis and literally stepping through much of the flow of `jsonw

[2020-01-13 16:12] Keats commented on #76
I think the multiple alg is there when you know the alg family but not sure which one. Ie you might put [RSA256, RSA384, RSA512], so in general a single family. BUT someone could put [RSA256, EC256] and then the key check would fail if we check all members. Which is probably fine.

This crate is not vulnerable to the issue in the article:
- `none` is not supported
- it requires at least one algori

[2020-01-13 16:40] rib commented on #76
yeah, I was mainly pointing to the article just to support the idea of erring on the side of caution and avoiding unnecessary flexibility with regards to letting multiple algorithms to get accepted within one verification pass.

I suppose if someone created a `Validation` allowing HMAC and RSA (or EC) they could open themselves up to this vulnerability. I'm not sure why you would do that, but the

[2020-01-13 16:59] Dowwie commented on #76
@rib all good points and it was worth considering..  I review many of those articles, too, often re-reviewing them

[2020-01-13 17:02] Dowwie commented on #76
@rib here's plausible scenario as to why a programmer would do that: a monolith server that for internal communication among servers uses RS512 where as web clients receive HS256

[2020-01-13 18:39] Keats commented on #76
https://github.com/Keats/jsonwebtoken/pull/113 has been updated with encode/decode key type checking wrt the algorithm

[2020-01-17 19:19] Keats commented on #76
Ok this got merged, anything else missing from downstream users?  cc @rib / @JTKBowers

[2020-01-17 20:10] levischuckeats commented on #76
I am quite excited and happy to have contributed.

[2020-01-17 20:10] LeviSchuck commented on #76
I am quite excited and happy to have contributed.

[2020-01-17 20:17] Keats commented on #76
@LeviSchuck you did the biggest bits of this release!

[2020-01-21 14:59] Dowwie commented on #76
@Keats looks good to me

[2020-01-21 15:42] Keats commented on #76
I've just pushed beta.1 to crates.io

[2020-01-24 01:48] dessalines opened #114 "Rust Security warning about spin"
I got this error when running `cargo audit` on my project.

Spin looks like its abandoned, but there are alternatives.
https://rustsec.org/advisories/RUSTSEC-2019-0031.html

[2020-01-25 17:35] Keats commented on #76
I'll release it on Monday if nothing else comes up

[2020-01-26 01:05] Keats commented on #114
Ring is working on removing that dependency, nothing I can do about it. I'm not sure why an unmaintained crate would be a security vulnerability if no one found any issues though...

[2020-01-26 01:07] Keats commented on #114
Ring related issue: https://github.com/briansmith/ring/issues/921

[2020-01-27 20:39] Dowwie commented on #76
looks good from here, so far..

[2020-01-28 19:00] Keats commented on #76
I didn't forget about it, I got a new laptop yesterday and I was getting some weird rustc crash which might be resolved now.

[2020-01-29 07:00] #104 closed

[2020-01-29 07:04] Keats commented on #76
It's on crates.io

[2020-01-29 07:04] #76 closed

[2020-01-29 07:05] Keats commented on #92
Release in v7

[2020-01-29 07:05] #92 closed

[2020-01-29 07:06] Keats commented on #85
it's better now

[2020-01-29 07:06] #85 closed

[2020-01-29 07:07] #68 closed

[2020-01-29 07:08] Keats commented on #60
More tests have been added, not the spec exactly though.

[2020-01-29 07:08] #60 closed

[2020-01-29 07:08] #21 closed

[2020-01-29 07:09] #13 closed

[2020-01-29 07:09] Keats commented on #77
x509 is not supported and the issue changed topic quite a bit.

[2020-01-29 07:09] #77 closed

[2020-01-29 07:10] Keats commented on #64
That's unlikely to happen.

[2020-01-29 07:10] #64 closed

[2020-01-29 07:17] Keats commented on #71
I've made https://github.com/jsonwebtoken/jsonwebtoken.github.io/pull/443 to update it again

[2020-01-29 07:17] #71 closed

[2020-01-29 07:18] Keats commented on #114
Closing as it seems like it will be fixed upstream and should be passed through automatically.

[2020-01-29 07:18] #114 closed

[2020-01-29 07:31] MarcAntoine-Arnaud opened #115 "Add dependsabot"
It will check every night new update, create PR to update dependency if needed !
Very useful tool for library maintenance ;-)

[2020-01-29 07:36] Keats commented on #115
I don't like it, it creates too many PRs which means I'm even less likely to look at actual PRs :)

[2020-01-29 07:36] #115 closed

[2020-01-31 05:21] fujiapple852 opened #118 "Stack overflow calling Error::to_string"
Invoking `Error::to_string` results in a stack overflow crash due to a recursive call in the `Display::fmt` implementation.

Example:

[code]

Results in:

[code]

Simple fix in PR: https://github.com/Keats/jsonwebtoken/pull/117

[2020-01-31 05:26] #118 closed

[2020-02-21 00:56] tjwilson90 opened #120 "DecodingKey is difficult to re-use"
[code]
This constructs a DecodingKey that owns all of its state, but the signature suggests that it borrows the input key. As a result, the only way to construct a DecodingKey<'static> for lazy_static or once_cell is to leak the input key (or unsafely transmute the lifetime of the input key and hope that DecodingKey never changes its implementation to actually.borrow the input).

[2020-02-21 08:27] Keats commented on #120
The intent was indeed to use it in a lazy_static way, something like (pseudo-code)

[code]

What would you change?

[2020-02-21 15:51] tjwilson90 commented on #120
That works, but only if I embed my public key in my program (which would require me to recompile and redeploy if I change my key, and would make it impossible for a user of my pre-compiled program to generate and use their own keys).

Since the resulting DecodingKey doesn't need to maintain a borrow on the key, the key should have a distinct lifetime, i.e., the type of key should be `&[u8]`, not `

[2020-02-23 23:32] ttxndrx opened #122 "Signing/verifying JWTs with RSA DER encoded keys"
Hi,

I've met with a problem attempting to sign/verify with RSA DER encoded keys and have no idea what is going on. The source code mentions that you should know what you're doing with DER encoded keys, but I'm trying it anyway.

Here's some code:
[code]

I've created a DER encoded public and private keys and used them to create an `EncodingKey` and a `DecodingKey`. The JWT encodes just fine, but

[2020-02-27 16:11] MayaWolf commented on #120
Just ran into this as well. It'd be way more versatile if DecodingKey's methods just borrowed or consumed the key, depending on internal implementation, rather than requiring an external guarantee about the lifetime.

[2020-02-27 18:55] pnehrer opened #124 "Support for Unsecured JWT"
Would it be possible to support _Unsecured JWT_, with "alg":"none" as per [spec](https://tools.ietf.org/html/rfc7519#section-6)?

I could submit a PR if you're open to that. Thanks!

[2020-02-27 19:07] Keats commented on #124
No, you can just use `dangerous_unsafe_decode` which is the same thing but it won't support alg: none

[2020-02-27 19:07] #124 closed

[2020-02-29 13:43] Keats commented on #122
I have only used DER keys created with the `openssl` cli tool, I'm not sure what's happening there :/

[2020-03-01 19:01] Keats commented on #120
I've pushed a stop-gap change in 7.1.0, more changes can be done later if necessary as breaking change

[2020-03-02 21:07] ttxndrx commented on #122
What would be a good direction to go in to try and figure this one out?

[2020-03-08 01:37] goodidea-kp commented on #122
Sounds like the entire process is wrong to me. See this: [https://www.quora.com/How-does-RSA-decryption-work](https://www.quora.com/How-does-RSA-decryption-work) or Wikipedia.
to ENCRYPT/ENCODE you need to use **PUBLIC KEY** (everyone can encrypt)
to DECRYPT/DECODE you need to use **PRIVATE_KEY** (the only private key holder can decrypt the encrypted message)

in code

        let encoding_key = E

[2020-03-12 19:00] jamesjmeyer210 opened #125 "Implement PartialEq on ErrorKind"
I've started using this crate for a web service. Upon writing unit tests for some code I'd implemented around this crate, I quickly discovered `PartialEq` is not implemented on the `ErrorKind` enum. If it were implemented this would really make the tests a lot cleaner because the users of this crate wouldn't have to convert the errors to `String`/`str` for `assert_eq!` or `assert_ne!`

[2020-03-12 19:28] Keats commented on #125
I don't think it can be implemented due to some error wrapping. I could be wrong though

[2020-03-13 11:42] jamesjmeyer210 commented on #125
Working with the strings isn't the end of the world, but I wouldn't be surprised if the missing `PartialEq` cascaded back on dependencies.

[2020-04-28 12:29] dakom opened #127 "error loading google/firebase public key"
The docs at https://firebase.google.com/docs/auth/admin/verify-id-tokens suggest getting the public key via https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

I tried loading this in via `DecodingKey::from_rsa_pem` but no luck so far.

Does the `x509` string need to be converted to something else before loading?

[2020-04-28 12:58] Keats commented on #127
`x509` are not supported currently.

[2020-05-06 03:22] scastiel opened #129 "In README: deserialization of DateTime<Utc>"
Hello! I’m very new to the Rust world, and I’m just trying to validate a JWT token in an API.

In the README, when defining the claims, I can read:

[code]

But actually just trying this with a standard JWT token ([like this one](https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODg3Mzc2MDB9.yO4YrLk0TKUWBNZIg3BK84KwaqSNMIF4Eee2ZnQVCIU)), it doesn’t work and return

[2020-05-06 08:18] Keats commented on #129
I think we should link to https://github.com/Keats/jsonwebtoken/blob/master/examples/custom_chrono.rs if we want DateTime or use i64 in the README. Maybe even both to show the two options.

[2020-05-17 00:30] LegNeato opened #130 "Consider renaming dangerous_unsafe_decode"
Thank you for this library! Would you consider renaming `dangerous_unsafe_decode` to `dangerous_insecure_decode`? "unsafe" has a specific meaning in Rust and it might be best not to overload it (it doesn't look like the implementation uses `unsafe` at a quick glance).

If you are interested, happy to put up a patch. If not, feel free to close!

[2020-05-18 07:34] Keats commented on #130
It's unsafe because it doesn't verify the signature. Renaming it would be a breaking change though and unlikely to happen anytime soon. If you have a better name for it though, I can change it when the next major version happens.

[2020-05-22 17:33] LegNeato commented on #130
Totally get it, but it isn't unsafe in the traditional Rust memory-safety sense. My suggestion as stated above to to replace "unsafe" with "insecure". If you agree it is a change you want, I can add a function named  `dangerous_insecure_decode` and make the existing `dangerous_unsafe_decode` function `#[deprecated(note = "Please use the dangerous_insecure_decode function instead"]`.

Then you can

[2020-05-25 17:36] seanpianka opened #131 "Add struct of standard claims with common validation logic?"
I'm borrowing this idea from the [golang jwt implementation](https://github.com/dgrijalva/jwt-go/blob/master/claims.go#L18), where the package provides a struct which includes the "standard" public claims for all JWTs.

Essentially, instead of having all library users define their own copy of the default claims, i.e.
[code]
The crate instead can define this struct, perhaps making optional claims a

[2020-05-26 15:27] dakom commented on #120
Right now my setup is something like this:

[code]

It fails to compile of course.

EncodingKey is fine, but DecodingKey fails since `secret` is dropped right away.

imho DecodingKey should really just own its data. There's really only two scenarios iirc:

1. Totally new keys. Anyway it has to be re-created, so holding references doesn't help
2. Total re-use, in which case a reference to the Decod

[2020-05-26 15:35] Keats commented on #120
https://github.com/Keats/jsonwebtoken/pull/128 should make it easier but that's a breaking change.

[2020-05-26 15:49] dakom commented on #120
How about adding this to that breaking change as well?

[code]

[2020-05-30 00:30] jkoudys opened #132 "Add from_ methods that take Algorithm as a param"
It's very easy to get the Algorithm from my config file, since you've kindly provided a `serde::de::Deserialize` trait on it. While it's beautiful being able to write a json config like `"https://myissuer.com": { algo: "RS256", pubkey: "../mykey.pub" }`, building the actual EncodingKey out of that gets ugly. it'd be lovely if there were something like:

[code]

As it stands I don't even have acces

[2020-05-30 07:38] Keats commented on #130
I like insecure!

[2020-05-30 07:43] Keats commented on #132
I thought about that a while back but I didn't like that you could end up with errors that could be avoided by the current functions; the `NoPemForThis` in your example.

[2020-06-08 05:29] dewey4iv commented on #122
hey @ttxndrx -- I'm sure this is later than you would have liked but I was able to get it working:

[code]

[2020-06-11 15:35] giarc3 opened #135 "dangerous_unsafe_decode variant with validation"
I was wondering if it would be possible to add a variant of `dangerous_unsafe_decode` that includes validation (but still does not include signature verification). This would not be a breaking change as it would only involve adding new functionality.

The function signature would look like this:
[code]

My use case is this: Our SDKs accept a jwt as a function parameter which then gets sent to the

[2020-06-12 06:52] maylukas commented on #127
@dakom I ran into the same issue and was able to create a key from the Firebase RSA components. I wrote an article about this, since I found multiple people asking similar questions: https://medium.com/@maylukas/firebase-token-authentication-in-rust-a1885f0982df

@Keats If you have some time to review my solution I would be very happy :)

[2020-06-12 20:38] Keats commented on #127
There's a typo in the code example: `UnkownKeyAlgorithm`

Overall `JwkVerifier` is something I thought adding to jsonwebtoken but wasn't sure on the best way to implement it. If we can find a generic enough struct/impl, it could be added directly in the lib.

You can check it with jsonwebtoken automatically: https://docs.rs/jsonwebtoken/7.1.1/jsonwebtoken/struct.Validation.html

Great article othe

[2020-06-13 07:11] maylukas commented on #127
@Keats Oh thanks. Did not see it. I will change it to use jsonwebtoken to verify the issuer and audience. I won't have time today but some day next week. Thanks for checking the article 😊

[2020-06-15 17:27] giarc3 opened #136 "Derive Hash for Header"
Hi there,
Would it be possible to derive `Hash` for the `Header` struct? This would also require `Algorithm` to implement `Hash`, but should otherwise be easy. And it wouldn't require any breaking changes.

I'd be willing to open a PR for this if you're interested.

Thanks.

[2020-06-15 17:54] Keats commented on #136
I don't see a reason not to? What's the usecase for hashing the header?

[2020-06-15 17:59] giarc3 commented on #136
Our usecase is pretty convoluted, but it boils down to generating Java bindings from our Rust structs, and we use the Rust implementation of `PartialEq` and `Hash` for Java's `hashCode()` and `equals()` functions.
I admit it's not the most universal usecase, but as you said, I don't think there should be a reason not to.

[2020-06-15 20:46] giarc3 commented on #136
I have opened a PR for this. Please look it over when you have the time, it is a very minor change.
I would love if this could go out as 7.1.2 sometime soon.
Thanks

[2020-06-16 10:08] Keats commented on #136
It's done

[2020-06-16 10:08] #136 closed

[2020-06-16 10:08] Keats commented on #130
If anyone is up for a PR, I'll merge it otherwise that will be in a few days.

[2020-06-16 10:11] Keats commented on #131
Those validations are already done in jsonwebtoken automatically without defining a struct, depending on the `Validation` struct and what there is in the jwt payload. https://github.com/Keats/jsonwebtoken/blob/master/src/validation.rs#L105-L170 is always called when decoding a JWT

[2020-06-16 10:13] Keats commented on #135
It should be called `dangerous_insecure_decode_with_validation` (https://github.com/Keats/jsonwebtoken/issues/130) but why not.

[2020-06-18 18:39] quentm74 opened #140 "About the need to implement the none algorithm"
As I searched for a tool to encode / decode jwt, I found [jwt-cli](https://github.com/mike-engel/jwt-cli). This tool uses jsonwebtoken.

My goal was to test if an API refuses or not the "none" algorithm to test its security. But, I was not able to encode a jwt with the none algorithm with jwt-cli because the none algorithm is not supported by jsonwebtoken.

Should the none algorithm be implemented

[2020-06-18 19:12] maylukas commented on #127
@Keats: Okay. I updated the post and the example on Github. Bit late but still 😆

Maybe it would be possible to add a key_id parameter to the DecodingKey struct. Then it would be possible to select the proper key from a list of provided keys based on the specified key id in the token header. The JwkVerifier struct could then have a generic parameter for the claims to deserialize and could be initi

[2020-06-30 17:50] Keats commented on #140
I don't think it makes sense to implement the None algorithm in the library, with no algorithm it's easy to create a token manually and we avoid having footguns in the library.

[2020-06-30 19:13] Keats commented on #120
Can we work on a PR with breaking changes for the future 8.0? You can go wild

cc @neoeinstein

As well as any other issues for EncodingKey or really anything else.

[2020-07-02 08:43] michalskalski opened #144 "How can I validate custom claims?"
Hi, thank you for creating this jwt implementation. I wonder how could I extend validation part with additional checks which would validate my private custom claims? I tried to import https://github.com/Keats/jsonwebtoken/blob/master/src/serialization.rs#L24  and run extra validation after standard checks pass but this module is private.

[2020-07-02 09:26] Keats commented on #144
When you decode a token, you get back the claims struct, you can run whatever validation you want afterwards on your own structs.

[2020-07-02 10:13] michalskalski commented on #144
Thanks , will try use that approach.

[2020-07-02 10:28] #144 closed

[2020-07-04 17:48] quentm74 commented on #140
Thank you for your answer, I understand your point of view.

[2020-07-04 17:48] #140 closed

[2020-07-19 04:24] #131 closed

[2020-09-02 20:51] clehner opened #149 "Support Unencoded Payload Option"
[RFC 7797 - JSON Web Signature (JWS) Unencoded Payload Option](https://tools.ietf.org/html/rfc7797)

RFC 7797 adds a JWT header option `"b64": false` which specifies that the payload is not base64url-encoded but is added to the signing input as bytes:

[code]

This is useful with [Detached Content](https://tools.ietf.org/html/rfc7515#appendix-F) where the JWT is serialized without the payload.

[2020-09-10 07:25] platy commented on #125
The non-`PartialEq` wrapped error is `serde_json` which wraps `std::io::Error` which is not `PartialEq` https://github.com/serde-rs/json/issues/271

[2020-09-10 17:11] Keats commented on #125
I'll take a PR for it

[2020-09-29 15:40] coolit opened #151 "Seemed like InvalidRsaKey error occurred to a valid key"
Algorithm::RS512 was used

[code]

[2020-10-14 04:27] john01dav opened #152 "Make get_current_timestamp() public"
It would be convenient if [this](https://github.com/Keats/jsonwebtoken/blob/master/src/validation.rs#L100) function were public, for probably obvious reasons.

[2020-10-14 16:49] drocco007 opened #153 "DecodingKey::from_rsa_components fails when modulus encoded with standard base64 character set"
Hello!

**jsonwebtoken version**: 7.2.0
**rustc version**: rustc 1.47.0 (18bf6b4f0 2020-10-07)

I have built a token validator for tokens served from AWS Cognito [using their JWKS](https://cognito-identity.amazonaws.com/.well-known/jwks_uri). The validation steps are

* fetch the JWKs
* find the appropriate JWK data for the token (`decode_header`, extract `kid`, look up corresponding key in JWKs)

[2020-10-14 17:02] Keats commented on #152
It's a one-liner from std and kind of a bit random to be public from jsonwebtoken I think

[2020-10-15 00:51] john01dav commented on #152
It should be public since it gets it in the exact format that the library expects, thus preventing minor code duplication that can be problematic if someone misses some minor detail (e.g. as_micros() instead of as_secs()).

[2020-10-22 18:46] chinmayyadav opened #155 "Support for Refresh Token"
Hi guys, I am trying to implement JWT in my rust web application and I am using this library.
I was able to successfully generate a token and use it for verification, but I was wondering whether there is any support to differentiate and create an access token and a refresh token separately as there is in flask_jwt in python?
I could not find it in the documentation anywhere.
I am relatively new to

[2020-10-22 19:09] Keats commented on #155
No it's not meant to be implemented in this library but it could in a higher level lib.

[2020-10-22 19:09] #155 closed

[2020-10-23 04:41] chinmayyadav commented on #155
Okay, Thanks

[2020-11-04 17:27] superstator opened #156 "Decode arbitrary payload"
I'd like to use `jsonwebtoken` to decode a JWT with an arbitrary payload, and just return that payload as a string. I still want to verify the signature, but I don't want to look for keys like `iat`, `exp`, etc. In fact I'd like to handle cases where the payload isn't JSON at all, or may be malformed JSON. Is this possible? If not, would you be open to a PR?

[2020-11-04 18:51] Keats commented on #156
In that case it's easier to skip this crate and just split on `.` and decode base64

[2020-11-04 19:28] superstator commented on #156
But I do need signature verification, and just I don't want to actually decode/deserialize anything. You have a `verify` fn in `/src/crypto/mod.rs` that does most of what I need, though it would be nice to also use your code for error handling and splitting up the JWT compact string. Basically, everything in `jsonwebtoken::decode` but the last couple lines, call it something like `jsonwebtoken::ve

[2020-11-11 09:20] shuoli84 opened #157 "Add support for RSA256 1024 bit key support"
Current implementation forbidden 1024 bit keys, consider loose the leash by use ring algorithm RSA_PKCS1_1024_8192_SHA256_FOR_LEGACY_USE_ONLY instead of RSA_PKCS1_2048_8192_SHA256?

[2020-11-11 09:26] shuoli84 opened #158 "Consider expose readable error messsage when signature validation failed?"
The code verify_ring converts result to bool, which actually eats all underlying errors. E.g, the error key_too_small, is not signature err but key err.

[code]

[2020-11-11 18:13] briansmith commented on #157
Why would anybody be using RSA 1024 with JWT, except as a mistake?

[2020-11-11 20:45] Keats commented on #158
I'd take a PR for it but it's probably a breaking change?

[2020-11-11 23:19] shuoli84 commented on #157
I can't answer that, but there are external systems I can not control, besides, ring added this support for some reason I guess?

[2020-11-12 00:52] briansmith commented on #157
I added it only because some some TLDs use 1024-bit RSA signatures for DNSSEC.

Anyway, most JWT users will NOT want to accept 1024-bit keys, so if 1024-bit key support were added to this crate, it should be something that is opt-in on a per-verification basis.

[2020-11-12 03:35] shuoli84 commented on #157
I see, then maybe create a new algo variant with RS256_Legacy which user has to overwrite explicitly is a better idea?

[2020-11-12 04:06] shuoli84 commented on #158
Hmm, I think this is not a breaking change but a bug fix, if we only convert signature err to bool. If it is ok, I can create a pr for this.

[2020-11-17 08:38] Keats commented on #157
I would be hesitant to add that at all. Since it's pretty niche (never seen that before), I would rather have people fork this crate than having it in and be confusing/insecure. As the PR shows, it's an easy change

[2020-11-17 08:39] Keats commented on #156
Ok, I'll take a PR

[2020-11-17 08:41] Keats commented on #153
:(

I'm not sure how to fix that right now without making the crate less easy to use. Some kind of builder?

[2020-11-17 13:44] Keats commented on #120
Anyone up to do a PR on https://github.com/Keats/jsonwebtoken/pull/160 ?

[2020-11-20 02:53] shuoli84 commented on #157
@Keats that makes sense too. I'll keep the fork and use it for now.

[2020-11-20 02:53] #157 closed

[2020-12-04 09:50] augustocdias opened #162 "Support for EdDSA"
Do you have any plans to support EdDSA algorithm?

Could you describe what needs to be done for it so maybe we can create a PR?

[2020-12-04 13:44] Keats commented on #162
It's already in https://github.com/Keats/jsonwebtoken/pull/160 !
The v8 needs some help making it easier to create Encoding/Decoding keys

[2020-12-06 10:21] arniu commented on #151
I found it works with keys at least 2048 bits. Maybe the key is too short.

[2020-12-06 16:49] Keats commented on #151
Yep, 1024 bits keys are not supported

[2020-12-08 08:52] arniu opened #164 "`map_err(|_| ...)` is an anti-pattern"
`map_err(|_| ...)` is an anti-pattern, which lose detail about the failure.

[2020-12-08 17:19] Keats commented on #164
But in more practical terms about this repo?

[2020-12-09 01:51] arniu commented on #164
There are two cases in the repo, which convert different failures to simple `InvalidRsaKey` errors. As a result, it's difficult to debug. For example, #151 .

https://github.com/Keats/jsonwebtoken/blob/90b97007484e782994120587e751108819b7aa50/src/crypto/rsa.rs#L42

https://github.com/Keats/jsonwebtoken/blob/90b97007484e782994120587e751108819b7aa50/src/crypto/rsa.rs#L48

[2020-12-09 09:33] Keats commented on #164
ah I see, that should be easy to fix in the v8 branch. It was probably copied from the ring docs example.

[2020-12-09 10:14] #151 closed

[2020-12-14 21:16] sashaweiss commented on #153
I ran into a similar issue while writing some unit tests for code using this library. It doesn't seem to be an issue when using the full key data - I was able to create an `EncodingKey` using non-URL-safe base64 data, but when I try and make a `DecodingKey` using a modulus and exponent with non-URL-safe base64 data I got the same errors as above. Manually transcoding my modulus to URL-safe made it

[2020-12-15 09:54] Keats commented on #153
All the b64 handling in this crate is done via https://github.com/Keats/jsonwebtoken/blob/master/src/serialization.rs#L8-L14 so always expecting URL-safe base64 but I just noticed `EncodingKey::from_base64_secret` uses the b64 standard alphabet, is that what you meant @sashaweiss ?

[2020-12-15 21:25] sashaweiss commented on #153
Thanks for the quick reply, @Keats!

Hmm, I was referring to the `EncodingKey::from_rsa_pem` method but from the code that appears to go a fairly different route (doing manual ASN.1 decoding?) so that answers that question!

Is there a reason the lines you linked above need to use `base64::URL_SAFE_NO_PAD`? It's not a big deal for my use case since the service I'll be integrating against appears t

[2021-01-07 03:51] alertedsnake commented on #127
@FrancoisChabot this is exactly what I needed, thanks!

[2021-01-08 09:31] augustocdias commented on #162
You mean this?

[code]

[2021-01-08 09:38] Keats commented on #162
Not exactly, get https://docs.rs/jsonwebtoken/7.2.0/jsonwebtoken/struct.DecodingKey.html and https://docs.rs/jsonwebtoken/7.2.0/jsonwebtoken/struct.EncodingKey.html work better. The idea is that parsing will only be done once in the app instead of each time you use a JWT like you would with `include_bytes!`

[2021-01-08 09:51] augustocdias commented on #162
Excuse me if I didn't get it right, but this seems unrelated to the eddsa support and related to a more high level API that would affect all algorithms... Is that right?

[2021-01-08 09:52] Keats commented on #162
Yep, there's already a version in v7 but it's not ideal

[2021-01-08 10:06] augustocdias commented on #162
I still didn't get what is wrong with them. All the functions take those keys as non mutable references. They can be easily shared between calls. Could you elaborate more your idea, so maybe I could contribute?

[2021-01-08 10:07] Keats commented on #162
See https://github.com/Keats/jsonwebtoken/issues/120

[2021-01-08 10:21] augustocdias commented on #162
Okay. I got it now. I want to help on this as the project I'm working on will need this too.
The idea is to remove the underlying `Cow` in the keys and always own the key's content?

[2021-01-08 10:48] Keats commented on #162
Probably but it would be nice to have all users currently running into that issue together to fix everything. It's already going to be v8 and any change there will be breaking

[2021-01-08 11:08] augustocdias commented on #162
It doesn't have to be breaking. Keeping the method signatures and just cloning the parameters to own the values should work just fine and wouldn't break the API. I'm sure it can be improved, but it could be step into deprecation instead of breaking.

The only breaking thing I see is the `into_static` that doesn't make sense anymore.

And I suppose this problem affects only the `DecodingKey` right?

[2021-01-09 06:36] andrekorol opened #166 "Bump ring dependency to 0.16.19"
Bumping [ring](https://github.com/briansmith/ring) to 0.16.19 would fix compilation issues on crates that depend on jsonwebtoken as seen on [Compilation fails on aarch64-apple-darwin](https://github.com/briansmith/ring/issues/1063#issue-723460081) and [Build fail on Apple Silicon](https://github.com/briansmith/ring/issues/1163#issue-773901788).

[2021-01-29 21:17] #149 closed

[2021-01-31 17:23] zhuxiujia opened #169 "Some other errors"
[code]

[2021-01-31 21:21] Keats commented on #169
?
You can pattern match on all the error kinds to see what the issue is, or print `err`

[2021-01-31 21:21] #169 closed

[2021-02-01 00:33] zhuxiujia commented on #169
Claims { exp: 24 * 60 * 60 * 1000 };
will be parse fail

but

 Claims { exp: 10000000 };

will be success

[2021-02-01 00:39] zhuxiujia commented on #169
you can try

Claims { exp: 24 };

this code also parse fail for“some other error”

[2021-02-08 20:07] ephemer commented on #166
@andrekorol I'm new to rust and blocked by this issue. That said, I can see that rust is already trying to compile `ring v0.16.20` without this change and it still errors out:

[code]

[2021-02-09 03:23] andrekorol commented on #166
@ephemer I'm also building from an M1 Mac and my build that depends on this jsonwebtoken crate still fails...

[2021-02-09 03:34] #166 closed

[2021-02-17 22:29] DanielJoyce opened #170 "Some JWT libraries don't pad token components to multiples of 3 bytes"
Decode fails on this, since components of token are not multiples of three, and are not padding.

It looks like padding is optional for jwt tokens accoding to spec.

So Jsonwebtoken should look at each part, if it's not a multiple of three in length, pad with =, and then decode the base 64.

https://en.wikipedia.org/wiki/JSON_Web_Token

this says each component is encoded using base64 url encoding

[2021-02-17 22:31] DanielJoyce commented on #170
Okay, I have no clue what is going wrong.

[2021-02-17 22:40] DanielJoyce commented on #170
Okay, base64 library thinks they are bad as well.

[2021-02-18 00:39] #170 closed

[2021-02-18 00:39] DanielJoyce commented on #170
PEBKAC

[2021-02-19 20:06] Keats commented on #158
Actually `res` would be a `error::Unspecified` in case of an error so we don't lose anything afaik?

[2021-02-19 20:42] Keats commented on #120
Can people try https://github.com/Keats/jsonwebtoken/pull/160 to see if it solves all the issues they had?

[2021-02-20 09:15] Keats commented on #120
It's also on crates.io as v8 beta 0

[2021-02-22 03:13] shuoli84 commented on #158
Yea, double checked the code, you are right.

[2021-02-22 03:13] #158 closed

[2021-03-05 07:15] olitha opened #181 "Add x5c Header"
The x5c Header contains a certificate chain as base64 encoded DER certificates and can be used outside the jsonwebtoken lib to get the public key for signature verification.
Additionally the certificate chain can be verified by the application.

Can we add the x5c header? Only to make it available to applications?

[2021-03-05 10:54] zuoziqi opened #183 "jsonwebtoken invalid a valid signature"
I have a generated OAuth2.0 JWT Token, this token has been validated by jwt.io but decode function return error with ErrorKind::InvalidSignature. This token was encrypted by HS256 and I have set the correct secret key acquired from OAuth2 Server.
Related code followed:
[code]
The validated token:
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ijg4YzcxZjQzLTAzNTgtNGIwOC05Y2YyLWY1M2Q5ODYzNzUxNCJ9.eyJl

[2021-03-05 13:43] #183 closed

[2021-03-05 14:00] Keats commented on #183
@zuoziqi what was the issue?

[2021-03-05 15:03] jnicholls commented on #181
Wow, I literally implemented this last night with the intention to open an issue and submit a PR this morning. However, I did it differently and I think more correctly. I will submit my PR shortly after I rebase with your update.

[2021-03-09 13:12] jnicholls commented on #181
@Keats Do you like to close out these issues once a release is done, or after code is in `next`? I'll quickly take the opportunity to say thanks for your contributions to the community as well!

[2021-03-25 17:57] DanielJoyce commented on #153
Well its common for the token, but not necessarily for secrets in files. Those are usually plain base64

[2021-03-25 18:20] Keats commented on #153
Those one use the default alphabet: https://github.com/Keats/jsonwebtoken/blob/master/src/encoding.rs#L25-L28

[2021-04-12 19:33] jnicholls opened #187 "RNG dependency injection into sign and verify operations"
I think it would be useful for certain operations (encode, sign, etc.) to have an alternative method that accepts a `ring::rand::SecureRandom` RNG provider as an argument, or some other means to inject that dependency. Internally where an RNG is used, the crate currently creates a `SystemRandom` on demand. For cases where a different CSRNG (e.g. a different source of entropy) is deisred, or in moc

[2021-04-12 20:54] Keats commented on #181
Forgot to reply! Thanks for the kinds words, I'll close all relevant issues on release - probably this weekend if nothing else pops up.

[2021-04-12 21:02] Keats commented on #187
I'm not sure it makes sense. Where would this be needed except from WASM? If you want reproducible JWTs for tests, don't use RSA or EcDSA

[2021-04-12 22:15] jnicholls commented on #187
WASI and Node.js WASM, since you mentioned it.

[2021-04-12 22:32] jnicholls commented on #187
Buuuut, since you mentioned that I'll check in with Brian and see if we can just add those targets to ring directly.

[2021-04-18 08:56] ahmed-yasen-va opened #188 "How to create a non-expiring token ?"
I am trying to create a non-expiring token by adding 0 to the exp claim but the result is an ExpiredSignature Err.

[2021-04-18 09:06] Keats commented on #188
Just add a timestamp in the year 3000 or something

[2021-04-18 09:23] ahmed-yasen-va commented on #188
Does this crate depend on the epoch timestamp?

[2021-04-18 09:26] Keats commented on #188
Yes, it's from the JWT spec. So 0 would be 1970

[2021-04-18 09:31] ahmed-yasen-va commented on #188
I think putting the timestamp in the year 3000 or beyond the year 2038 may cause problems. Because the epoch time will overflow on 21 Jan 2038.

[2021-04-18 09:45] ahmed-yasen-va commented on #188
I suggest making the 0 exp be a non-expiring token. In any way, there is no one create an already expired token.

[2021-04-18 18:15] Cightline commented on #120
Wooo, thank you. It seems to work so far.

[2021-04-18 18:20] Keats commented on #188
No, 0 is a valid timestamp even if a useless one.

[2021-04-18 18:20] #188 closed

[2021-04-18 22:22] alertedsnake commented on #120
Oh nice!  I was hoping to get back to the project where I use this library some time this week, I'll give it a whirl then.

[2021-04-21 23:02] erewok commented on #153
I just hit the same issue described here using JWKs from Okta (another common identity provider). I'm not sure what the suggested fix is based on the discussion here.

[2021-04-22 08:56] Keats commented on #153
So in your case @erewok the JWK field in the header is using the standard base64 alphabet but the JWT itself URL safe?

[2021-04-22 14:51] erewok commented on #153
I believe so, but to be honest I don't know what characters are allowed in the standard base64 alphabet: I've only ever encountered URL-safe base64.

For example, here are some sample JWKs from Okta:

[code]

[2021-04-22 14:58] Keats commented on #153
The standard allows `+` and `/` while URL safe is `-` and `_`. Since there are `_` and `-` in that string that's likely URL safe.
Try to use https://github.com/marshallpierce/rust-base64 directly and see what happens with the various alphabets

[2021-04-22 17:21] erewok commented on #153
My apologies: my sample **JWT** was in a test file and it appears that it was incorrectly formatted. I kept getting `Error(Base64(InvalidByte` errors but it _wasn't_ due to the **JWK**. It was whenever I tried to verify my JWT. After various experiments and finally breaking out each step, I was able to ascertain that my validation step was failing. With a correctly formatted JWT, I was able to run

[2021-04-24 06:27] devinlyons opened #189 "Current Time Should Be Time Zone Aware"
`SystemTime::new()` is used to validate the `nbf` date in a token. This causes issues if the token is generated in a different timezone, such as UTC. I think this needs to be configurable so a timezone offset can be specified.

https://github.com/Keats/jsonwebtoken/blob/2f25cbed0a906e091a278c10eeb6cc1cf30dc24a/src/validation.rs#L101

[2021-04-24 07:32] Keats commented on #189
Times in a JWT should only be in UTC and this function gets the current UTC timestamp. I think the only possible issue is if your server is not in UTC?

[2021-04-26 16:38] devinlyons commented on #189
I confirmed this with a little testing. I wish it was mentioned in the `SystemTime` documentation. Thank you for looking at this!

[2021-04-26 16:38] #189 closed

[2021-04-28 04:35] Roms1383 commented on #127
@FrancoisChabot dude, you made my day ! thanks !! 👍

[2021-05-13 17:32] linnal commented on #153
I'm having the same problem, some times the decoding works some times it does not. This is the token I'm using right now with google authentication:

[code]

The token is dived in 3 parts, the first 2 are ok, but the third one fails as it is not a valid base64 format. Although if I use this online tool [https://jwt.io/](https://jwt.io/) it does not complain and everything seem to be decoded.

This

[2021-05-13 20:03] Keats commented on #153
So it looks like google doesn't add the padding to base64 for some reasons. I guess we should pad the segments before trying to decode them.

Essentially doing:

[code]
before decoding it (taken from pyjwt)

[2021-05-15 13:47] linnal commented on #153
@Keats I tried to do that from my code but it does not seem to change anything.

[code]

Header and paylaod are valid but signature still gives `Err(InvalidByte(247, 61))`

[2021-05-16 12:56] linnal commented on #153
Please ignore my comments :/ I'm really sorry! It was a problem with my terminal. It took me a while to understand that the token output was being cut and the signature was incomplete :(

[2021-05-16 16:42] Keats commented on #153
ah so it works in the end?

[2021-05-16 16:44] linnal commented on #153
yap, it works!

[2021-06-11 20:41] aweis89 commented on #187
Would love to be able to use this crate with WASI as well

[2021-06-11 21:43] Keats commented on #187
@jnicholls any update from the ring side?

[2021-06-14 11:34] jnicholls commented on #187
Unfortunately no, the only WASM target that is supported are browser environments with `crypto.getRandomValues()` available. WASI's `random_get` method is still not yet supported.

[2021-06-19 18:26] cloutiertyler opened #190 "The exp claim should be optional"
According to the RFC, the `exp` claim should be optional: https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.4

I saw that you suggested that the user just set an expiration very far in the future. This works for new tokens, however it doesn't work for tokens created previously (e.g. if you're migrating tokens to a new service).

[2021-06-20 11:39] Keats commented on #190
We could make it optional but is there anyone using JWTs without exp?

[2021-06-20 18:14] cloutiertyler commented on #190
We were issuing some tokens without `exp` on our old service because they were stored securely and we can also manually expire them, but regardless of that I think the library should implement the RFC to spec. In my experience, even small deviations from the RFC can have unintended consequences that aren't immediately obvious (migrating from an old service is just one example).

Fortunately in thi

[2021-06-24 18:34] Keats commented on #190
Actually looking at it again, if you set `Validation.validate_exp` to `false` it should be working fine?

[2021-06-26 18:55] i5hi opened #191 "base64::DecodeError as ErrorKind usage breaks with base64 update to v.0.13.0"
Hello jsonwebtoken team,

Thanks for the aweomse work. Its been a pleasure using this library so far.

I came across an issue where updating `base64` from v0.12.0 to 0.13.0 breaks my usage of `base64::DecodeError`

When I match on the ErrorKind as follows:
[code]

*edit*: removed the text below from code block.

What is strange is that even older versions of `base64` for example v.0.12.0 do not pr

[2021-06-28 08:39] brocaar commented on #190
@Keats I think I'm running into the same issue as @cloutiertyler. I don't think the `validate_exp = false` is the solution.

In my use-case, two different types of claims can be issued, claim A will have an `exp` set (and must be validated), claim B does not have an `exp` set (and there is no expiration to validate).

Currently this is not possible as `validate_exp = true` will invalidate claim B

[2021-06-28 08:54] Keats commented on #190
To ensure people are actually using an `exp` claims. I've seen many people get tripped up by `validate_exp` because they didn't realise they had to set an exp claim themselves.
Also in pyjwt they have only validate the claims if they are present but that means there is another validation called `require` to require specific claims to be present. For a common usecase, that makes the validation setu

[2021-06-28 09:57] brocaar commented on #190
Maybe this could be better facilitated at the claim generating side than the validating side? According to the JWT specs, they are still generating valid tokens, considered valid by pyjwt, jwt-go and others but invalid by jsonwebtoken. One option could be to provide an extendible standard claims struct which users may use (still the option to use their own custom claims), which automatically comes

[2021-06-29 04:03] cloutiertyler commented on #190
This is not fine, unfortunately. I *do* want to validate tokens which have an `exp`, but I also need tokens that don't have an `exp` to not be validated. I need this on a per token basis. Not all validated or all not validated.

[2021-06-29 04:12] cloutiertyler commented on #190
Thank you!

Agreed!

[2021-06-29 09:08] Keats commented on #190
I'm a bit confused, does those tokens end up using the same code path? I always have different calls with pyjwt depending on what I am doing because I usually need to check different scopes etc and I do want to know if for some reason my oauth access token doesn't have `exp`, not silently validate it.

[2021-06-29 11:27] brocaar commented on #190
In my case it would until and including the validation. Then after validation, based on the token claims the code path would split. I think this is a valid use-case.

I believe that according to the specs, such oauth access token without `exp` is considered valid. To reject such tokens is the decision of your application logic (and I don't disagree it is a bad one btw). But technically such token

[2021-06-29 21:31] cloutiertyler commented on #190
A JWT without an `exp` is valid and should be validated according to the spec. If this library doesn't do that, then it's a "KeatsJsonWebToken" library, and not a JsonWebToken library. That's obviously your choice, but please be aware this is not a correct implementation. That's more or less what I want to point out.

[2021-06-30 09:44] Keats commented on #190
Oops the rest of my message didn't get sent :(

It does currently, it just doesn't handle having using the same validation rules for tokens that have `exp` or not.
Oauth specs requires `exp` (as well as sub, iss, aud): https://datatracker.ietf.org/doc/html/rc7523#section-3 for the access tokens.

The reason I'm hesitant changing that is, continuing the oauth usecase, it will validate just fine inv

[2021-06-30 10:32] brocaar commented on #190
In my opinion a `mandatory_claims` list would replace the `validate_exp` and `validate_nbf` options. That would make it a lot easier to understand and to document. How I think this could work:

1. First validate that all items in `mandatory_claims` are available in the token. Note that `mandatory_claims` could contain any claim, also non-standardized application-specific ones (e.g. it is just a li

[2021-06-30 19:36] Keats commented on #190
That would break the symmetry with the other validations which I'm not too keen on. Plus you might want to require some fields but not have the lib handle the validation (I've seen some exotic JWT with local time instead of UTC for `exp`...). I think I'll just go with the required claims field + only validate if present.

[2021-07-02 23:08] gbaranski opened #192 "implement serde Serialize and Deserialize on Error"
hi, what do you think about that?

[2021-07-03 09:19] Keats commented on #192
I can see Serialize if you want to log it to json logs but Deserialize?

[2021-07-03 09:54] gbaranski commented on #192
yes, deserialize the error returned by the server to allow making some specific action for each token error variant.

[2021-07-03 11:18] gbaranski commented on #192
nevermind, I'll just implement my own custom error with Serialize/Deserialize trait implemented.
[code]

[2021-07-03 11:18] #192 closed

[2021-07-06 11:43] KyleCotton opened #193 "Poor Documentation Encoding Key"
Just want to say this is an amazing crate.
Been banging my head against the wall with this for a while now as the docs make no mention that EC keys have to be PKCS8.

I'd love to make a PR with the addition to the docs.

The line here for reference.
https://github.com/Keats/jsonwebtoken/blob/2f25cbed0a906e091a278c10eeb6cc1cf30dc24a/src/pem/decoder.rs#L118

[2021-07-06 13:41] Keats commented on #193
Can you make it on the `next` branch?

[2021-07-06 15:08] KyleCotton commented on #193
Yes will do!

[2021-07-06 15:10] Keats commented on #193
FYI it's in the README (https://github.com/Keats/jsonwebtoken#convert-sec1-private-key-to-pkcs8) but it should be in the code docs as well.

[2021-07-18 00:19] btielen commented on #127
Instead of using the openssl crate, you can also use the command line to extract the public key from the pem certificate file:

`openssl x509 -pubkey -noout -in certificate.pem`

This will output something like:

[code]

Then use it in your code like:

[code]

[2021-07-20 22:50] btielen opened #197 "Decode, verify signature, validate"
**The issue**
Thanks for all the work in this repository! When I first used the library it wasn't clear for me if the `decode` function would just decode or also check the signature and/or the expiration date. So I made an overview:

| Function name                                                     | What does it do?                                                    |
|-------------------------

[2021-07-21 17:17] Keats commented on #197
I think `dangerous_insecure_decode_with_validation` and `dangerous_insecure_decode` can be folded into a single function. We can add a `Validation::none()` function that disables all validation and we have

[code]

As for `verify_signature`, it's now the same as calling `decode` except the payload is decoded in `decode`. I think we can mark this private.

[2021-08-20 18:40] Keats commented on #197
@btielen can you have a look at https://github.com/Keats/jsonwebtoken/pull/199 ?

[2021-08-22 02:43] liuzemei opened #200 "Error(InvalidRsaKey)"
[code]
it has result
[code]
But I am sure this rsa is valid, I have tried it in other languages, and I can successfully get the token.

like js code
[code]
Is there a problem with where I use it? Is it convenient to provide an example for reference? For example, use the rsa mentioned above.

[2021-08-25 12:26] Ten0 opened #201 "Add x5t#S256 header"
There are a few headers defined in https://datatracker.ietf.org/doc/html/rfc7515#section-4 that are not declared in [`Header`](https://docs.rs/jsonwebtoken/7.2.0/jsonwebtoken/struct.Header.html).

Specifically, we use Sha256 thumbprints to identify certificates in our system, and would like to propagate that to the JWTs.

It would be great to either:
 - Add fields defined by the norm to the Header

[2021-08-25 12:53] Keats commented on #201
Can you do a PR for 1 on the `next` branch?

[2021-09-03 17:22] DanielJoyce opened #204 "validating Audience should take HashSet<&str> type instead of HashSet<String>"
That way the hashSet can be declared as a constant and reused.

In general the various string pointer types should be favored over String

Basically this doesn't work.

[code]

The same applies to validating issuer as well.

[2021-09-03 17:31] Keats commented on #204
The recommended way to set those fields is to use the methods: https://docs.rs/jsonwebtoken/8.0.0-beta.2/jsonwebtoken/struct.Validation.html#implementations.
Why not have the full validation be `const` or `lazy_static` or `once_cell`? You shouldn't need to have multiple `Validation` struct for the same JWT kind.

[2021-09-06 18:38] horacimacias opened #205 "any way to validate using a certificate?"
I'm trying to verify a jwt token by using the certificate of the jwt issuer.
Going to https://jwt.io/ and copy-pasting the
[code]

and the jwt token, I can confirm the signature is valid, but I cannot find how to do the same thing using this crate.

Is there any way to do this?

[2021-09-06 20:03] horacimacias commented on #205
sorry...please ignore.
In my case the certificate was coming through configuration, and you can get the public key from a certificate using
[code]

this produces a public key:
[code]

... that jsonwebtoken is handling just fine.

[2021-09-06 20:03] #205 closed

[2021-09-09 15:34] DanielJoyce commented on #190
I'm all for more flexible validation. Being able to use a function would be great too. I'd like to be able to validate azp (Authorized Party) as well.

Some factory methods on Validator for common scenarios would be useful too.

If we had validation functions, then @brocaar 's use case would be satisified as well.

[2021-09-09 15:43] Keats commented on #190
This library will only handle things from the spec. If you have other claims you want to validate like the openid ones, it will have to be done by hand in your code.

[2021-09-13 15:31] TheDan64 opened #206 "Allow newer ring fix versions"
Hi, currently ring is tied to 0.16.5. This is conflicting with another dependency of mine which requires `0.16.11 <= ring < 0.17`

Would it be possible to release a new version of v7 of the crate with `^0.16.5` specified? I think that would loosen the constraint to `0.16.5 <= ver < 0.17`?

https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#caret-requirements

[2021-09-13 15:46] TheDan64 commented on #206
Oh, interesting

[2021-09-26 06:34] horacimacias commented on #120
is there any ETA on this change making it into a release?
I'd like to use this as well once a formal new release exists.

[2021-09-27 07:22] horacimacias commented on #120
...and if there is anything I can help with towards that, please let me know

[2021-09-28 08:53] Keats commented on #120
I need to release a new v8 beta soonish after merging https://github.com/Keats/jsonwebtoken/pull/202
After that figure out a way forward for https://github.com/Keats/jsonwebtoken/issues/190 and it should be the definite v8 release

[2021-10-02 08:15] nicokoch opened #208 "Validation does no longer implement Default in beta 3"
Is this a wanted change or an oversight?
My code was breaking today due to this, after upgrading to Beta 3.

[2021-10-02 08:20] Keats commented on #208
Looks like an oversight

[2021-10-02 20:40] Occhioverde opened #209 "Signing JWTs for AzureAD authentication"
Good morning.

I'm trying to authenticate my Rust application to Microsoft Azure AD using the [certificate credentials method](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials) but the creation of the EncodingKey struct keeps panicking with the "InvalidKeyFormat" error.

I've read [here in the issues](https://github.com/Keats/jsonwebtoken/iss

[2021-10-09 00:14] smhmayboudi opened #210 "update base64 dependency package"
Hello, would you please update `base64` package? Should I send you a pull request?

[code]

[2021-10-10 18:40] Keats commented on #210
It's already up to date on the v8 beta

[2021-10-10 18:40] #210 closed, assigned to nobody

[2021-10-29 05:16] emeryc opened #212 "JWT Parsing fails when exp is a float"
I was trying to figure out if people in my company were crazy, or if this was a part of the spec. Turns out that float times are part of the spec as mentioned in this bug report on somebody else's JWT library in a different language. https://github.com/open-policy-agent/opa/issues/1296#issue-426476169

This is causing me a bit of a problem because others in my company are using float JWTs because

[2021-11-01 13:31] Keats commented on #212
It's released in v8 beta 5

[2021-11-01 13:31] #212 closed

[2021-11-01 13:32] Keats commented on #209
The field x5t can be set but x509 is still not supported for encoding/decoding

[2021-11-01 13:38] Occhioverde commented on #209
Thank you very much for the information.

May I ask if there any plans to support X509 encoding and decoding (even if in the long term)?

[2021-11-01 13:53] Keats commented on #209
Not by me but if someone does a PR wth tests there are no reasons to not merge it

[2021-11-01 13:54] Occhioverde commented on #209
Of course. Thanks again.

[2021-11-01 13:54] #209 closed

[2021-11-03 19:47] vanillajonathan opened #216 "Multiple issuers?"
This is not a feature request, just some food for thought. 🧠️💡️

Microsoft's `Microsoft.IdentityModel.Tokens` JWT library supports multiple issuers.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.tokens.tokenvalidationparameters.validissuers

[code]

Which in Rust would be:
[code]

Another interesting thing is that Microsoft have a default leeway of 5 minutes.
[TokenValidation

[2021-11-03 19:50] Keats commented on #216
It's already supported: https://docs.rs/jsonwebtoken/8.0.0-beta.5/jsonwebtoken/struct.Validation.html#method.set_iss and https://docs.rs/jsonwebtoken/8.0.0-beta.5/jsonwebtoken/struct.Validation.html#method.set_audience

[2021-11-03 19:55] vanillajonathan commented on #216
My bad, I checked the master branch, not the next branch.

Another interesting thing is that Microsoft have a default leeway of 5 minutes.
[TokenValidationParameters.cs#L130-L134](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/38fa6df0aaef049bff548870191400507b3753f4/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L130-L134)

[2021-11-03 20:27] Keats commented on #216
The current default of 0 is probably not good enough but 5 minutes seem a bit long

[2021-11-03 21:00] vanillajonathan commented on #216
Maybe 1 or 2 minutes is more reasonable.

[2021-11-15 10:14] winston0410 commented on #200
@liuzemei Seems like you need to use exactly the command listed there
https://briansmith.org/rustdoc/ring/signature/struct.RsaKeyPair.html#method.from_pkcs8

But I have trouble with that as well. I have created my key like this, but I am still getting `Error(InvalidRsaKey)`. Any idea how to fix this?

[code]

[2021-11-15 10:21] winston0410 commented on #200
https://github.com/Keats/jsonwebtoken/pull/163

I have seen this commit exactly about this issue, maybe @arniu Can tell us what to do?

[2021-11-15 10:37] winston0410 commented on #200
So found out that I shouldn't be using public key but private key for encoding based on here, but now I get
`Error(InvalidKeyFormat)`

https://github.com/Keats/jsonwebtoken#encoding

[2021-11-15 13:11] arniu commented on #200
## README

For the moment, only PEM files are supported.

### To Generate EC Keys

[code]

### To Generate RSA Keys

[code]

[2021-11-15 13:12] arniu commented on #200
## README

For the moment, only PEM files are supported.

### To Generate EC Keys

[code]

### To Generate RSA Keys

[code]

[2021-11-16 13:15] qwandor opened #217 "Implement Clone and Eq for error type"
It would be helpful if `jsonwebtoken::error::Error` implemented `Clone` and `Eq`.

[2021-11-16 15:17] Keats commented on #217
I would take a PR for it on the `next` branch.

[2021-11-16 22:46] qwandor commented on #217
I've sent a PR for `Eq`.

It turns out `Clone` is more difficult, because `serde_json::Error` doesn't implement `Clone`. I can see two ways around this:
1. Convert the `serde_json::Error` to a `String` and just wrap that instead. This would lose the ability to convert back to the `serde_json` type or get whatever other information it has.
2. Wrap it in an `Arc`. I'm inclined to go with this option

[2021-11-16 22:51] qwandor commented on #217
I've gone ahead and gone the `Arc` route, I think it's a reasonable workaround.

[2021-11-16 22:54] 0xpr03 opened #219 "Multiple Algorithms fail"
Currently it's not possible to allow EC and RS algorithms at once.
As [this](https://github.com/Keats/jsonwebtoken/blob/2f25cbed0a906e091a278c10eeb6cc1cf30dc24a/src/decoding.rs#L158) comparison will fail on the first family mismatch, instead of checking for all possibilities. It basically does the reverse to my understanding, it checks if there is any mismatch instead of a match.

Thus this will a

[2021-11-17 09:09] ech0r commented on #120
Me too, thanks!

[2021-11-17 09:57] Keats commented on #219
Hm I never thought people would use different algorithms in the `Validation::algorithms` field. This checks was just a quick way to detect errors without actually running anything. It can probably be removed in the `next` branch

[2021-11-17 10:33] 0xpr03 commented on #219
Maybe I'm also doing it wrong? I probably have a very niche use case. I want to allow clients to register themself using a uuid + private key, allowing for a privacy respecting login without password/mail. Thus I allow something like "send me your uuid + public key, and show me a proof that you can sign a JWT for my uuid+yours".

For now it's not a big problem, as I can just choose not to support

[2021-11-17 10:58] LukasKalbertodt opened #220 "`Debug` and `PartialEq` should not be derived for `EncodingKey` and `DecodingKey`"
Both of these types potentially contain secrets in a `Vec<u8>`.

Deriving `Debug` means the secret is printed when using that impl. It can easily happen that this type is in some other struct, which is contained in some other struct, which is then logged accidentally. And suddenly you have leaked secrets in your log file. I would recommend manually deriving `Debug` and not including the actual sec

[2021-11-17 11:01] Keats commented on #220
Good catch! I'll remove them in the `next` branch.

[2021-11-17 12:17] Keats commented on #219
You can just move the validation + decode call in the match directly. I don't know, I just find it odd to list completely different alg in the same decode

[2021-11-18 10:50] ech0r commented on #127
You are a lifesaver!

[2021-11-21 04:18] Xithrius opened #223 "Why is `EncodingKey`'s `content` attribute private?"
It doesn't seem like there's any way to access [`content`](https://github.com/Keats/jsonwebtoken/blob/master/src/encoding.rs#L10-L16).

Would it be possible to make it public, or is there a reason to keep it's current state?

Thanks!

[2021-11-21 08:29] Keats commented on #223
Any reason to be able to access it? Those structs are not meant to be used outsde of encode/decode

[2021-11-21 11:36] Xithrius commented on #223
@Keats Thanks for the quick response! Originally I'd use this for [octocrab's `create_jwt` function](https://github.com/XAMPPRocky/octocrab/blob/master/src/auth.rs#L36-L61), but I've realized that it's different than the one on [docs.rs](https://docs.rs/octocrab/0.13.0/src/octocrab/auth.rs.html#22-46).

There is no need for access of this attribute, I was interpreting how to use the function incor

[2021-11-21 11:36] #223 closed

[2021-12-03 18:54] Keats commented on #216
I've set it to 1 minute in the v8 beta

[2021-12-03 19:32] vanillajonathan commented on #216
What is the roadmap for 8? when is the release?

[2021-12-03 21:09] Keats commented on #190
Ok, a bit late but can people have a look at https://github.com/Keats/jsonwebtoken/pull/225 ?

[2021-12-03 21:11] Keats commented on #216
Pretty soon I think. One of the last thing was https://github.com/Keats/jsonwebtoken/pull/225
Once this is merged I'll release the last beta and let people use the beta a bit.
Note that the current last beta version on crates.io has a bug with issuers validation that is already fixed in the repo in case you try it.

[2021-12-09 04:22] sestrella opened #226 "Create a DecodingKey from jwks_url"
I have been using the features on the next branch and I have to say that the [Auth0 example](https://github.com/Keats/jsonwebtoken/blob/next/examples/auth0.rs) was extremely handy. After digging a little bit into a similar [library](https://www.npmjs.com/package/jwks-rsa) (written in another language) I realized that it provides the availability to pull JWKS from a URL in fact Auth0 API exposes an

[2021-12-09 10:51] Keats commented on #226
I won't add any kind of HTTP request to this library as in Rust you would probably want to do it async and you need to select the executor/library. I'd rather let people handle the request however they want.
Also, you probably want to cache that http request in some ways and it's just easier if you handle it yourself: you can decide the policy.

[2021-12-09 10:51] #226 closed

[2021-12-09 14:41] sestrella commented on #226
Fair enough, thank you for the feedback

[2021-12-29 00:59] xdrghbjiikmdghu opened #227 "Support for mips Please!!"
Help please .The dependencie ring does not support for mips. So How can i use jsonwebtoken for  mips?

[2021-12-29 10:23] Keats commented on #227
If ring doesn't support mips then you can't. Maybe it will be possible to switch to rust-crypto crates if they have been audited but not for now.

[2021-12-29 10:23] #227 closed

[2021-12-29 10:47] xdrghbjiikmdghu commented on #227
Ok thank you.

[2022-01-09 05:43] Herohtar opened #228 "Docs still mention iat"
This crate does not validate `iat`, as it seems that was removed some time ago, but the README and the docs for the `Validation` struct still refer to validating `iat`.

[2022-01-17 14:45] tiptenbrink commented on #162
Hi @Keats, I'm trying this out on the next branch, but I am unable to load Ed448 keys from PEM using EncodingKey. I'm generating a fresh set of keys using OpenSSL. I also saw that there are currently no tests for EdDSA, yet, so I'm not sure if maybe I'm missing something.

Ed25519 works fine but ed448 does not work.
[code]

This fails with Error(InvalidKeyFormat). Since the InvalidKeyFormat Error

[2022-01-17 15:45] Keats commented on #162
This is likely the line failing: https://github.com/Keats/jsonwebtoken/blob/next/src/pem/decoder.rs#L151 or https://github.com/Keats/jsonwebtoken/blob/next/src/pem/decoder.rs#L154
Basically something went wrong when decoding the PEM. Could it be in PKCS1 instead of PKCS8?

[2022-01-17 16:48] tiptenbrink commented on #162
No I'm very certain it is pkcs8. I tried it on a key I'm using in a Python library that assumes it's pkcs8 and it's working there. The key above was generated using:

[code]

[2022-01-17 17:17] tiptenbrink commented on #162
My apologies, I think you can close this. I discovered there's a reason Ed448 keys don't work as mentioned in #154: `ring` does not have support for it (briansmith/ring#463).

[2022-01-17 18:51] Keats commented on #162
Ah sorry, completely forgot about that!

[2022-01-17 22:01] mladedav opened #229 "Decoding JWKs"
#226 asked about pulling and parsing the keys from well known URIs. I get that people should download the keys themselves, but would it be possible for the library to at least parse them, or provide JWK types to let users parse it into those which could be then used to create DecodingKey?

I would be happy to help if this was something that could be added to the library.

[2022-01-17 22:47] Keats commented on #229
It's already the case in v8 beta, have a look at that example: https://github.com/Keats/jsonwebtoken/blob/next/examples/auth0.rs
You can try it from crates.io as well

[2022-01-18 09:44] mladedav commented on #229
Thank you very much.

[2022-01-18 09:44] #229 closed

[2022-01-18 22:34] mladedav commented on #229
Since I found in the v8 PR that you're testing functionality and gathering feedback before release I just want to report that all seems to work well here. I'm using Auth0 and there seem to be no issues.

[2022-01-18 22:58] Keats commented on #229
perfect, that's good to hear

[2022-02-02 21:10] #120 closed

[2022-02-02 21:10] #125 closed

[2022-02-02 21:10] #152 closed

[2022-02-02 21:10] #164 closed

[2022-02-02 21:10] #220 closed

[2022-02-02 21:10] #228 closed

[2022-02-02 21:11] #122 closed

[2022-02-02 21:12] #197 closed

[2022-02-02 21:12] #219 closed

[2022-02-02 21:12] #217 closed

[2022-02-02 21:12] #216 closed

[2022-02-02 21:12] #206 closed

[2022-02-02 21:12] #204 closed

[2022-02-02 21:15] #201 closed

[2022-02-02 21:15] #200 closed

[2022-02-02 21:16] #193 closed

[2022-02-02 21:16] #191 closed

[2022-02-02 21:16] #190 closed

[2022-02-02 21:16] #181 closed

[2022-02-02 21:17] #162 closed

[2022-02-02 21:17] #156 closed

[2022-02-02 21:17] #127 closed

[2022-02-02 21:17] #129 closed

[2022-02-02 21:17] #130 closed

[2022-02-02 21:17] #132 closed

[2022-02-02 21:17] #135 closed

[2022-02-02 21:17] #153 closed

[2022-02-03 13:38] camcamd opened #234 "Invalid documentation on `Validation.leeway`"
Since version 8.0.0, default value of `Validation.leeway` is 60, yet documentation specifies that it defaults to 0.
I let you decide if it's the doc that needs to be updated or the default value of leeway ;)

[2022-02-03 15:23] #234 closed

[2022-02-03 17:02] Follpvosten opened #235 "Docs: `leeway` field on `Validation` documents an older default"
This caught me off-guard while updating to 8.0.
The docs still say "Defaults to `0`." for leeway, but it actually defaults to 60 when you use Validation::new(), which is now the only way to construct a Validation.

[2022-02-03 17:05] Follpvosten commented on #235
Oops nevermind, closed via 1a9ca38b76d05d0eb0823af808c344cd97bc5bea

[2022-02-03 17:05] #235 closed

[2022-02-04 02:06] fujiapple852 commented on #197
@Keats for what it's worth, the new API to replace `dangerous_insecure_decode_with_validation` feels a little awkward to use as it involves explicit mutation of the `Validation` (perhaps a fluent-interface style builder pattern would be better here?) and also passing a dummy `DecodingKey` to `decode` (perhaps this can be wrapped in an `Option`?).

[code]

In any case, thank you for your work on th

[2022-02-04 10:11] Keats commented on #197
Yeah it's kind of a downside but I didn't feel like it was worth improving since it's not really something that should be done often.

I'm not a fan of builders, would a `ValidationBuilder` really be more elegant?

Thanks!

[2022-02-04 15:46] thrykol opened #236 "dangerous_insecure_decode_with_validation removed in 8.0"
CHANGELOG.md only indicates that `dangerous_unsafe_decode` was removed in the 8.0 build.  However, it appears that `dangerous_insecure_decode_with_validation` and `dangerous_insecure_decode` were both also removed.  Was this intentional?  If so, it would be good to update the CHANGELOG.md to reflect that change as well.

[2022-02-04 15:47] Keats commented on #236
Yes, it's missing on the changelog

[2022-02-07 16:45] giarc3 opened #237 "Header no longer implements Hash"
In v7.1.2, `Hash` was derived for `Header`. It seems like that was removed, but there is no mention of it in the changelog.

[2022-02-07 18:27] Keats commented on #236
It was redundant with the changes to the Validation allowing the same thing

[2022-02-07 22:34] thrykol commented on #236
You're correct.  Apologies, as I was searching for the function name so overlooked it.

[2022-02-08 08:50] #236 closed

[2022-02-08 13:47] brocaar commented on #190
Hi @Keats, I think this hasn't been solved by #225.

A test-case that can be added to `validation.rs` that catches this issue would be:

[code]

`res` is `Err(Error(ExpiredSignature))`, but should be OK as `exp` is not required and should only be validated if present.

[2022-02-08 15:27] Keats commented on #190
I think https://docs.rs/jsonwebtoken/latest/jsonwebtoken/struct.Validation.html#structfield.required_spec_claims is clear in terms of docs? You are asking it to validate the exp explicitly. `required_spec_claims` just checks for the presence of fields

[2022-02-08 16:38] EliseZeroTwo commented on #236
Is `dangerous_insecure_decode` really redundant? The `decode` function takes a key, `dangerous_insecure_decode` did not. Having to create a garbage key just to pass it around feels wrong.

[2022-02-08 21:00] Keats commented on #236
It's a few more lines but not the main use of the crate so I think it's ok. It helps convey the insecure aspect imo

[2022-02-09 08:59] brocaar commented on #190
Then could you explain again how to make the `exp` optional, so that:

* If `exp` is present in the claim, validate that it didn't expire yet
* If no `exp` is present in the claim, do not throw an error

My understanding of #225 was that the `required_spec_claims` would handle the claims which must be present (which is why I set this to an empty set) and that setting `validate_exp` would validate

[2022-02-09 17:13] Keats commented on #190
ah my bad. Is the link above to docs.rs enough explanation?

[2022-02-10 14:38] gbaranski opened #239 "`decode` returns ExpiredSignature error when the `exp` field is missing"
Hi, the `decode` returns ExpiredSignature error when the `exp` field is missing, is that the expected behaviour?

In my case the token has the `exp` field, which is defined as `Option<DateTime<Utc>>`, so that's not always there, and the code which looks like that:

[code]

[2022-02-11 11:18] Keats commented on #239
`required_spec_claims` only checks for the presence/absence of the field. `validate_exp` is still set to `true` in your example. There's no way to say "only validate if the field is present".

[2022-02-13 11:17] brocaar commented on #190
@Keats, not really. Could you please explain me how #225 solves this GitHub issue? As I explained earlier in this issue, I have tokens that have the `exp` set and tokens that don't have the `exp` set. Implementing two different validators is not an option as only after validation I know the purpose of these tokens. Could you explain what config to use when the `exp` must **only be validated if pre

[2022-02-13 13:24] Keats commented on #190
Ah then the implementation doesn't do that then, I misunderstood.

[2022-02-13 18:09] cloutiertyler commented on #190
I'm on the same page as @brocaar. I have the following tokens mixed together:

- tokens that don't expire
- tokens that do expire

Both can be valid, but the tokens that do expire are only valid if they're not expired. I basically want tokens that don't expire to act as if they have an infinite expiry time. I also cannot change any tokens that have already been created for backwards compatibility.

[2022-02-14 09:51] Keats commented on #190
Honestly it's extremely unlikely that this crate will support _maybe_ verifying exp. That sounds like a recipe for disasters, if your tokens are being generated without `exp` they are still valid? Is there any JWT library in any language that works like that?

[2022-02-14 13:43] brocaar commented on #190
@Keats, but you did propose to implement it this way ;-) (https://github.com/Keats/jsonwebtoken/issues/190#issuecomment-871674415)

I disagree. If `validate_exp = true` (which is the default) would **only** validate if the `exp` claim is present **and** it would be a required claim by setting `required_spec_claims = ["exp"]` (which is also the default), then the default behavior does not change, a

[2022-02-19 13:18] Keats commented on #190
Looks like I was wrong! Can one of you do a PR?

[2022-02-20 20:09] cloutiertyler commented on #190
@Keats Thanks very much! I'm happy to do a PR if @brocaar doesn't beat me to it!

[2022-02-20 22:26] cloutiertyler commented on #190
Okay, I've submitted #240, however there's some details you should be aware of before accepting the PR. Maybe there's a better way we can do this.

I've now made `exp`, `nbf`, `iss`, `aud`, and, `sub` optional in accordance with the RFC, but because the library was previously requiring each of these if they were specified on the validation (e.g. `set_issuer(&["Keats"])`) even if they were not part

[2022-02-21 14:03] auuo opened #241 "why remove dangerous_unsafe_decode"
is there any method to get payload without secret key?

[2022-02-26 10:18] ufoscout opened #242 "Token exipration regression compared to version 7"
While upgrading a system from version `7.2` to `8.0`, we noticed a strange regression regarding the expiration validation of the tokens; it seems that they never expire.
Here is a small reproducer:
[code]

This test succeeds with jsonwebtoken `7`, but, surprisingly, it fails with version `8` because the token expiration is not revealed.

[2022-02-26 13:48] ufoscout commented on #242
@Keats
Thanks, this fixed the issue.

[2022-02-26 13:48] #242 closed

[2022-02-28 00:29] mpfaff opened #243 "WASM Support"
I'd like to be able to decode the claims on my client in the browser (verification is not necessary).

Currently, using `jsonwebtoken::decode` with `wasm32-unknown-unknown` crashes in generated JavaScript with this error:

[code]

[2022-02-28 12:10] Keats commented on #243
That will mostly depend on whether ring supports wasm or not, I have no clue. The other dependencies should be ok?

[2022-02-28 12:52] mpfaff commented on #243
I cloned the repository locally and made the changes necessary to use with `wasm32-unknown-unknown`. `std::time::SystemTime::now()` is also not currently supported for `wasm32-unknown-unknown`, so I used a cfg attribute to use `Date.now` on `wasm32-unknown-unknown`.

[2022-02-28 16:20] mpfaff commented on #243
The other change I made was adding a `no_verify` feature flag that returns an error when `Validation.validate_signature` is `true`.

[2022-03-01 11:52] Keats commented on #243
Why would you ever want that?

[2022-03-01 15:39] mpfaff commented on #243
As I said, I just want to decode the claims on the client. There is no need for them to be verified on the client.

Once signature verification can be supported on WASM I intend to remove the feature from my fork.

[2022-03-08 15:37] rgarrigue opened #244 "Support ED25519"
Hello

This is a feature request to support ed25519. The reason is explained there https://github.com/mike-engel/jwt-cli/issues/173. Sadly I'm not able to make the related PR, because I know nothing about rust.

Best regards,

[2022-03-08 17:06] Keats commented on #244
I wouldn't be against it but someone would have to submit the PR.

[2022-03-25 14:52] brocaar commented on #190
@cloutiertyler @Keats: I think I prefer `required_spec_claims`. If that by default contains `exp`, then I think there is no impact when users update to a future version, as `exp` remains mandatory. From an API point of view, that might be better.

@Keats do you consider #240 mergable after the formatting and clippy issues have been fixed?

[2022-03-27 04:37] ArunGust opened #246 "ring-0.16.20 compile error"
I got below error.(env: rustc 1.61.0-nightly (d53246fed 2022-03-25)) probably jsonwebbtoken ring dependency

registry\src\github.com-1ecc6299db9ec823\ring-0.16.20\src\cpu.rs:257:13
|
165 | macro_rules! features {
| --------------------- when calling this macro
...
257 | aarch64_apple: true,
| ^^^^^^^^^^^^^ no rules expected this token in macro call

Compiling h2 v0.1.26
error[E0425]: cannot find v

[2022-03-28 09:03] Keats commented on #190
I think it's ok, have you tested the branch locally to make sure it works as you expect?

[2022-03-28 09:34] Keats commented on #246
It seems like that issue should go in the ring repo?

[2022-04-05 08:41] brocaar commented on #190
@Keats I have created a new PR with the changes from @cloutiertyler  + the fmt and clippy fixes. I have also confirmed that this solves my issue.

[2022-04-08 16:01] horacimacias commented on #236
in case anybody is looking for the snippet to use now (again make sure you know what you're doing), something like this should help:

[code]

[2022-04-10 00:32] #246 closed

[2022-04-12 18:46] #237 closed

[2022-04-12 18:47] Keats commented on #239
It should work in 8.1.0

[2022-04-12 18:47] #239 closed

[2022-04-18 08:46] EliseZeroTwo opened #248 "Only able to turn JWK into RSA DecodingKey"
The current JWK implementation appears to be only for the very specific usecase of fetching decoding RSA keys from a JWK set endpoint as you can only turn a JWK into a `DecodingKey` if it is an RSA key as the only method provided is `from_rsa_components`. You also cannot create an `EncodingKey` from components.

[2022-04-18 18:00] Keats commented on #248
Honestly I've only added the JWK types because I wanted to have an easy example with Auth0. If someone wants to be able to use JWK with elliptic curves, I would take a PR but won't implement it myself.

[2022-04-19 08:11] EliseZeroTwo commented on #248
I have already implemented this since opening the issue: https://github.com/eliseZeroTwo/jsonwebkey

I am willing to rework the JWK types based on this if it is wanted but as the code I made is based on the existing (but unmaintained) JWK crate (https://github.com/nhynes/jwk-rs/) I am not sure if this is something you would be happy with?

[2022-04-19 18:10] Keats commented on #248
As mentioned in https://github.com/Keats/jsonwebtoken/blob/master/src/jwk.rs#L4-L5 the types for the JWK comes from a pretty complete crate I think?
I don't really want to go full JWK support in this crate, just enough for 90% of users to have enough types to handle the usual oauth dance with eg https://www.ory.sh/docs/hydra or Auth0. I don't know if that conflicts with what you need.

[2022-04-20 08:01] EliseZeroTwo commented on #248
Ok, thank you for the response. The lack of handling of private keys does conflict with what I was doing but that is not a problem, as you clarified this is not the intention of this crate. I'm going to close this issue.

[2022-04-20 08:01] #248 closed

[2022-04-24 00:30] danielhuang commented on #243
Just decoding the claims can be done by decoding base64. Using this library is probably not necessary.

[2022-04-27 11:40] Xuanwo opened #250 "Add ES512 support"
Hi,

https://github.com/datafuselabs/databend/pull/5062 needs ES512 support from jsonwebtoken.

Is there anything special to take care of? I'm willing to submit a PR to add `ES512` support :rocket:

[2022-04-27 11:47] a1ien commented on #250
First you need add P-512 to ring https://github.com/briansmith/ring/issues/824

[2022-05-22 03:03] Lweb opened #251 "Multiple algorithm families in Validation"
The 'decode' method always returns an InvalidAlgorithm error if there are multiple algorithm families in Validation, according to this part of the code:

https://github.com/Keats/jsonwebtoken/blob/master/src/decoding.rs#L159-L165

I wonder if this is expected since there are no constraints to ensure that Validation only contains one algorithm family.

[2022-05-22 03:05] #251 closed

[2022-05-24 16:57] jblachly opened #252 "JWK `alg` types are missing and deserialization from spec-compliant JWKS will fail"
Hi,

First, thanks for this library which has been really helpful and is built in much the same way I would have built my own JWT/JWK library.

# Background

When building an API that works with Keycloak and reads its JWKS (JSON web key set), I found that I could not properly deserialize the JWKS and my program panicked on startup. **Ultimately, this is because one of the JWK has an `alg` field th

[2022-05-24 17:52] jblachly commented on #252
That's kind of a bummer; this means I can't use the library to directly deserialize JWKS from my IdP.

I don't expect the library to support JWE, but I wonder if you'll consider a POC that at least includes the enum variants?

[2022-05-24 17:55] jblachly commented on #252
https://github.com/jblachly/jsonwebtoken/commit/79774926a9c58c442cd2fe433cc032d0eecb3f22

[2022-05-25 08:02] Keats commented on #252
No, because then it looks like the library is supporting them

[2022-05-27 00:49] jblachly commented on #252
I added new variant `InvalidAlgorithmType` for this case:
https://github.com/jblachly/jsonwebtoken/blob/79774926a9c58c442cd2fe433cc032d0eecb3f22/src/crypto/mod.rs#L107

Anyway, I will respect your decision. For myself or anyone else who lands here in the future (hello from 2022) via Google, what would you recommend since we can not safely depend on being able to deserialize an IdP's JWKS response

[2022-05-30 17:56] fayalalebrun opened #253 "Expiration validated incorrectly when system time is not UTC"
I noticed validation was succeeding even though the expiration of my token had passed well beforehand.

Looking at the code, the timestamp compared to `exp` is computed in validation.rs as follows:
[code]
I believe the problem is that the timestamp is obtained from `SystemTime::now()`. This returns a non-UTC timestamp in my system (Corresponding to the local time zone).

[2022-06-02 13:04] #253 closed

[2022-06-03 10:10] ymwjbxxq opened #254 "While decoding: Error(Json(Error("duplicate field `resource_access`","
Hello,

I cannot understand where the problem is, so I try here.

The claiming structure is like this (not standard):
[code]

If I decode with jwt.io the token, I get a payload data and if I write a unit test, I can deserialize correctly.
[code]

When I use decode functionality:

[code]

I get the error:

`Err` value: Error(Json(Error("duplicate field `resource_access`",`

But if I remove "resourc

[2022-06-03 11:45] ymwjbxxq commented on #254
I have fixed the problem

[code]

Not sure why but great

[2022-06-03 11:45] #254 closed

[2022-06-07 20:55] fpgaminer opened #255 "Default update syntax on Validation struct broken because of private field"
Under version 7.1.2, my code used:

[code]

Trying to update to 8.1.0, this no longer works because `validate_signature` is a private field.

I'm not sure if this was intended or not?  Update syntax is a nice convenience, though I can replace it in my code if need be.

[2022-06-07 21:05] fpgaminer commented on #255
Fair enough.  I think the only convenient "replacement" would be an expanded `new` or builder syntax.  But that's not a bug, so I'll go ahead and close this.  Thanks!

[2022-06-07 21:05] #255 closed

[2022-06-21 22:36] roy-work commented on #244
Is this feature supported? It seems to be in the library (e.g., [`from_ed_der`](https://docs.rs/jsonwebtoken/latest/jsonwebtoken/struct.EncodingKey.html#method.from_ed_der)), but attempts to use it don't seem to round-trip. (Verification always fails.)

[2022-06-22 07:13] Keats commented on #244
It's not supported

[2022-07-02 22:03] zkrzyzanowski opened #257 "validation.insecure_disable_signature_validation() not working"
Hi,
I'm having an issue decoding a jwt with `validation.insecure_disable_signature_validation();` set. I'm using firebase emulator for local development, which produces a token with the `alg` header set to none, so I'd like to turn off signature validation in that environment.

When running the following code, I get this error:

[code]

[code]

Based on the `verify_signature` function in `decoding

[2022-07-03 23:19] zkrzyzanowski commented on #257
After a little bit of digging, I _think_ the issue the call to [this](https://github.com/Keats/jsonwebtoken/blob/35de90ac4635a4c801f8c2e3dbca44641c3e22ce/src/header.rs#L86) function from `verify_signature`. I'm guessing when it tries to deserialize the header string to a `Header`, it fails since `none` isn't a valid algorithm.

Looking at the json web signature spec you reference in code [here](ht

[2022-07-04 07:51] Keats commented on #257
The `none` algorithm is explicitly not supported in this crate, a PR adding it will not be merged. I know it's mentioned in the spec but it's a silly idea in the first place.

[2022-07-08 04:35] qianxi0410 opened #259 "Support certificates as public keys"
When I use the certificate-private key mode, I have the certificate as the public key, but when I use public key(certificate) parsing, the program keeps telling me that the key format is not correct.

And I just replace the format as follows, and it works fine:

before:
[code]

after:
[code]

[2022-07-11 12:55] Cubxity commented on #244
Would be nice to see support for Ed25519 as the other curves [may have some weaknesses](https://safecurves.cr.yp.to/)

[2022-07-11 23:14] LLBlumire opened #260 "Would it be possible to add `DecodingKey::from_jwk`"
It seems a very common pattern is to have a `JwkSet` be published by API providers, the most common thing to do with this is use the data from it to `verify`, so having `DecodingKey::from_jwk`, or maybe even a validate method that just takes a token `&str` and a `JwkSet` and does the "common happy path" operation, might be a nice API to have?

[2022-07-12 07:14] Keats commented on #260
I'm not sure it would be much simpler than https://github.com/Keats/jsonwebtoken/blob/master/examples/auth0.rs where you can easily tweak everything.

[2022-07-12 10:41] LLBlumire commented on #260
I guess my thoughts were something that covers more than just the RSA case, though that is definitely the most common

[2022-08-04 20:33] LuisOsta opened #261 "Getting Error `Missing required claim: exp` even when `validate_exp` is false"
[code]
This is the way that I'm using the `jsonwebtoken` library where the `Claims` struct is
[code]

[2022-08-04 20:35] LuisOsta commented on #261
I saw https://github.com/Keats/jsonwebtoken/issues/239. But why not have it also not care if its absent/present if `validate_exp` is set to false?

[2022-08-05 11:46] Keats commented on #261
Presence/absence and validation are two different things. You might want to enforce having an `exp` field but not want to validate it with the crate because you're not using the standard timestamp for example.

[2022-08-05 11:46] #261 closed

[2022-08-12 18:53] bit-void commented on #259
I have this issue as well.

[2022-08-18 13:34] selmant opened #262 "Get claims without verify."
I have to use some of the fields for decide which key I will use. Can we provide simple API for get claims without verify?

[2022-08-18 13:35] Keats commented on #262
Decode the JKT using https://docs.rs/jsonwebtoken/latest/jsonwebtoken/struct.Validation.html#method.insecure_disable_signature_validation set for the validation.

[2022-08-18 13:36] #262 closed

[2022-08-29 21:32] lubitelpospat opened #263 "[Feature Request]JWKS Support"
Many providers, e.g. Apple, ship their public keys in form of JWKS for JWT validation. Now, many users have to create dedicated micro services in other languages, rely on self-written implementations or use third-party libraries along with this project as a workaround. However, it would be relatively easy to natively integrate JWKS support into this library: one needs to retrieve **kid** field fro

[2022-08-29 21:34] Keats commented on #263
It's already kinda supported? https://github.com/Keats/jsonwebtoken/blob/master/examples/auth0.rs

[2022-08-29 21:37] lubitelpospat commented on #263
Thank you for your immediate response! Sorry, for some reason I didn't notice it in the documentation. Again, thank you for your time!

[2022-08-29 21:37] #263 closed

[2022-09-14 14:52] oceanicsdotio commented on #243
Watching this for Node target.

[2022-10-09 23:20] Jonathas-Conceicao commented on #260
I would also like to see the library support this, as mentioned previously, the current API only directly supports RSA JWK. Where one can do `DecodingKey::from_rsa_components`.

The same, however, can't be done for the other algorithms as, e.g., there is no way to generate a `DecodingKey` from EC X, Y and curve parameters. And Ideally I believe there should be an `from_jwk`, ans it would simplify

[2022-10-18 15:48] mortifia opened #266 "compilation error"
https://github.com/Keats/jsonwebtoken/blob/4ae383859eef2445b068fcce6bd6279a27b79e8e/src/validation.rs#L134
[code]

[2022-10-24 19:19] cduvray opened #268 "Compile error with pinned version of rust toolchain"
Hello,

The project does not compile any more with pinned version of the toolchain 1.56.0 (ci.yml).

You should either:
-  update the pinned version 1.59 minimum (time = "0.3" -> 0.3.15)
- or force the version of "time" to ("=0.3.9")

Or is there an other solution to be able to pass the CI checks?

C.

[2022-10-25 17:09] Keats commented on #268
Let's bump the pinned CI version

[2022-10-27 19:58] #268 closed

[2022-11-04 08:51] Cobular commented on #226
Sorry to open this again but I'm currently trying to implement auth0 RS256 and JWKS using this library and I'm a bit lost. I personally would prefer a more opinionated take on the requests and caching and whatnot since I'm not sure what the key refresh policy and the like should actually be in this setup, however I totally understand the library goals and the decision not to go that route.
However

[2022-11-04 15:43] Keats commented on #226
Unlikely, I don't do that so I would just recommend to look at whatever doc they show for node/python and do the same.

[2022-11-04 18:10] Cobular commented on #226
Understandable, thank you! Last thing - does that wording mean you don't update the JWKS at all from the website in your applications? Is that viable? I'm unsure how quickly they get rotated.

[2022-11-04 18:52] Keats commented on #226
No, I don't really use JWKs much and we do control our provider server (https://github.com/ory/hydra) so whatever we do doesn't really apply to Auth0/Okta etc

[2022-11-05 18:29] kometen opened #270 "exp does not seem to give an error"
Found this introduction at https://tms-dev-blog.com/how-to-use-jwt-with-rust-learn-the-basics/ which I tried. But it does not seem to result in a panic when pausing and then decode beyond exp.

[code]

[2022-11-05 19:24] Keats commented on #270
There is a default 60s leeway that you can customise

[2022-11-05 21:44] kometen commented on #270
Thank you.

[code]

[2022-11-05 21:44] #270 closed

[2022-11-17 15:22] rchatsiri opened #272 "How to get JWK from library?"
Hello contributor,

I see on example declares JWK list set by constant value( string value fixed) example such as
[code]
  The example such python using the ```jwcrypto``` library return   the key information ```e``` and ```n``` value for decode token with 'n' and 'e' values.

[code]
   The value on ```public_key``` variable return information about key information such 'kty', 'n' , 'e', 'kid' and

[2022-11-17 17:10] Keats commented on #272
I think https://github.com/Keats/jsonwebtoken/pull/267 will do what you want?

[2022-11-19 16:06] rchatsiri commented on #272
The question may be unclear. In finally step we must add the json of ```jwk``` variable into ``` DecodingKey::from_jwk(&jwk).unwrap() ```.   How we create the json data such modules data by using the library?  An example like below.

[code]

[2022-11-19 20:35] Keats commented on #272
You can't create JWK with this library, only consume them.

[2022-11-20 10:06] #272 closed

[2022-11-24 20:16] tkrause opened #273 "Would it be possible to make DecodingKey more test friendly?"
Currently `DecodingKey::as_bytes` is crate public which means you can't even get the secret out of the DecodingKey that you originally put in.

Additionally it does not implement `Debug` or `PartialEq` so once you create a DecodingKey you cannot compare for testing purposes ever. This is really a pain point if you're trying to test your decoding logic to support many algorithms and keys using JWK

[2022-11-25 11:07] Keats commented on #273
We can implement `PartialEq` but if we implement a `Debug` it should be a custom implementation that just prints the algorithm and the data contained in it to avoid accidental dump of secrets in logs.

[2022-11-28 17:21] Keats commented on #273
Let's not implement `PartialEq` actually, only a custom `Debug`: https://github.com/Keats/jsonwebtoken/issues/220